force-app/main/default/flows/AutoDecision_Master_InBranch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <description>Un Supported Product Line</description>
        <name>ProductLineUnsupported</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Un-supported Product Line, Please select a different Product Line or talk to your Administrator.</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultAutoApprove</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultAutoDecline</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Declined</stringValue>
        </value>
    </constants>
    <constants>
        <description>Result set to Complete from Integrations</description>
        <name>ResultComplete</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Complete</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultError</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Error</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultInformationRequested</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Information Request Initiated</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultInformationRequired</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Information Required</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultManualReviewRequired</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Manual Review Required</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultRecommendApproval</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Recommend Approval</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultRecommendDecline</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Recommend Decline</stringValue>
        </value>
    </constants>
    <constants>
        <name>SmallBusiness</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Small Business</stringValue>
        </value>
    </constants>
    <decisions>
        <description>All pricing options were deleted based on reasons</description>
        <name>No_Pricing_Options_Found_Decline</name>
        <label>No Pricing Options Found (Decline)</label>
        <locationX>1343</locationX>
        <locationY>840</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pricing_Options_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DefaultPricingOptionsCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Declined_Scorecard</targetReference>
            </connector>
            <label>Pricing Options Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Product_Line</name>
        <label>Which Product Line?</label>
        <locationX>560</locationX>
        <locationY>596</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consumer_Lending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loanInformation.LLC_BI__Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consumer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_Display_Offers_IBCL</targetReference>
            </connector>
            <label>Consumer Lending</label>
        </rules>
        <rules>
            <name>Small_Business_Lending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loanInformation.LLC_BI__Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SmallBusiness</elementReference>
                </rightValue>
            </conditions>
            <label>Small Business Lending</label>
        </rules>
    </decisions>
    <description>Loan Decisioning Rule Engine - for In Branch Only loans.</description>
    <formulas>
        <name>Description_Approved</name>
        <dataType>String</dataType>
        <expression>{!loanInformation.Name} &amp; &quot; has completed decisioning and is approved. Review all the details here and &apos;submit for approval&apos; to continue with the auto approval process.&quot;</expression>
    </formulas>
    <formulas>
        <name>Description_Decline</name>
        <dataType>String</dataType>
        <expression>{!loanInformation.Name} &amp; &quot; has completed decisioning and is declined. To continue with the adverse actions process, review all the details here and select the &apos;Adverse Actions&apos; button.&quot;</expression>
    </formulas>
    <formulas>
        <name>Description_Manual_Review_Required</name>
        <dataType>String</dataType>
        <expression>{!loanInformation.Name} &amp; &quot; could not be auto decisioned and requires a manual review. You can view all of the captured detail here.&quot;</expression>
    </formulas>
    <formulas>
        <name>Description_Recommend_Approval</name>
        <dataType>String</dataType>
        <expression>{!loanInformation.Name} &amp; &quot; has completed decisioning and is recommended for approval. To continue and submit this for manual approval, review all the details here and select the &apos;Submit for manual approval&apos; button.&quot;</expression>
    </formulas>
    <formulas>
        <name>Description_Recommend_Decline</name>
        <dataType>String</dataType>
        <expression>{!loanInformation.Name} &amp; &quot; has completed decisioning and is recommended for decline. To continue to the adverse actions process, review all the details here and select the “Adverse Actions” button.&quot;</expression>
    </formulas>
    <interviewLabel>AutoDecision_Master_InBranch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AutoDecision_Master_InBranch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Declined_Scorecard</name>
        <label>Get Declined Scorecard</label>
        <locationX>1805</locationX>
        <locationY>1032</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Scorecard__c</object>
        <outputAssignments>
            <assignToReference>ExistingScoreCardID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResultDescription</assignToReference>
            <field>LLC_BI__Description__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Result</assignToReference>
            <field>LLC_BI__Result__c</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Get Loan information from LoanId variable</description>
        <name>Get_Loan_Information</name>
        <label>Get Loan Information</label>
        <locationX>574</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Product_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <outputReference>loanInformation</outputReference>
        <queriedFields>LLC_BI__Amount__c</queriedFields>
        <queriedFields>LLC_BI__Product__c</queriedFields>
        <queriedFields>LLC_BI__Risk_Grade__c</queriedFields>
        <queriedFields>LLC_BI__Is_Modification__c</queriedFields>
        <queriedFields>LLC_BI__isRenewal__c</queriedFields>
        <queriedFields>LLC_BI__Account__c</queriedFields>
        <queriedFields>LLC_BI__Product_Line__c</queriedFields>
        <queriedFields>LLC_BI__Product_Type__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>LLC_BI__Current_LTV__c</queriedFields>
        <queriedFields>LLC_BI__Current_Interest_Rate__c</queriedFields>
        <queriedFields>LLC_BI__Term_Months__c</queriedFields>
        <queriedFields>LLC_BI__Application__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>424</locationX>
        <locationY>58</locationY>
        <connector>
            <targetReference>Get_Loan_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Launch_Display_Offers_IBCL</name>
        <label>Launch Display Offers -IBCL</label>
        <locationX>951</locationX>
        <locationY>771</locationY>
        <connector>
            <targetReference>No_Pricing_Options_Found_Decline</targetReference>
        </connector>
        <flowName>Display_Offers_IBCL</flowName>
        <inputAssignments>
            <name>loanId</name>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>DecisionedCreditScore</assignToReference>
            <name>CreditScore</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DefaultPricingOptionsCollection</assignToReference>
            <name>DefaultPricingOptions</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Result</assignToReference>
            <name>Result</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResultDescription</assignToReference>
            <name>ResultDescription</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>Hold Relationship/Account Information</description>
        <name>accountInformation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AssignedPoints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Holds Credit Request Object Data</description>
        <name>CreditRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFUSE__Credit_Report__c</objectType>
    </variables>
    <variables>
        <name>DecisionedCreditScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>DefaultPricingOptionsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Pricing_Option__c</objectType>
    </variables>
    <variables>
        <name>Details</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <name>ExistingResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingResultDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingScoreCardID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loanInformation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>MaximumPoints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>ResultManualReviewRequired</elementReference>
        </value>
    </variables>
    <variables>
        <name>ResultDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Determine if Integrations should be executed</description>
        <name>toRunIntegrations</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
