force-app/main/default/flows/Bulk_Term_Sheet_for_Deal_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoke_PDF_Generator</name>
        <label>Invoke PDF Generator</label>
        <locationX>352</locationX>
        <locationY>974</locationY>
        <actionName>nFORMS__DGDocManPdfsGeneratorInvoker</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requests</name>
            <value>
                <elementReference>RequestDTOList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>nFORMS__DGDocManPdfsGeneratorInvoker</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>DTOList_assignment</name>
        <label>DTOList assignment</label>
        <locationX>440</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>RequestDTOList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequestDTO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RequestDTO_Assignment</name>
        <label>RequestDTO Assignment</label>
        <locationX>440</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>RequestDTO.contextId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestDTO.formTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Term_Sheet_Template.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DTOList_assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If none of the loans in the deal meet the entry criteria for getting a term sheet generated, the flow ends. Otherwise, the flow generates a term sheet.</description>
        <name>Are_there_loans</name>
        <label>Are there loans?</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loans</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <description>Configured as part of initial configuration of the deal proposal feature.</description>
    <environments>Default</environments>
    <interviewLabel>Bulk Term Sheet for Deal V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bulk Term Sheet for Deal V2</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>352</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Loans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Term_Sheet_Template</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Invoke_PDF_Generator</targetReference>
        </noMoreValuesConnector>
    </loops>
    <overriddenFlow>nFORMS__Bulk_Term_Sheet</overriddenFlow>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Loans</name>
        <label>Get Loans</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_loans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Product_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Term_Sheet_Template</name>
        <label>Get Term Sheet Template</label>
        <locationX>440</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RequestDTO_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commitment Letter</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>nFORMS__Form_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Generate_Term_Sheet</name>
        <label>Generate Term Sheet</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Loans</targetReference>
        </connector>
        <fields>
            <name>Description</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(51, 51, 51); font-size: 13.8px; background-color: rgb(255, 255, 255);&quot;&gt;Click Generate to generate a Term Sheet for each Loan in the Deal.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Generate</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_Term_Sheet</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequestDTO</name>
        <apexClass>nFORMS__DGDocManPdfGenerationRequestInvokerDTO</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequestDTOList</name>
        <apexClass>nFORMS__DGDocManPdfGenerationRequestInvokerDTO</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
