force-app/main/default/flows/CreditScoreFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Is_Individual</name>
        <label>Is Individual?</label>
        <locationX>579</locationX>
        <locationY>44</locationY>
        <defaultConnector>
            <targetReference>Relationship_Type_is_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Type = Blank</defaultConnectorLabel>
        <rules>
            <name>Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelationshipSOV.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Primary_Contact</targetReference>
            </connector>
            <label>Individual</label>
        </rules>
        <rules>
            <name>Not_Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelationshipSOV.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Individual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RelationshipSOV.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Transaction_Log</targetReference>
            </connector>
            <label>Not Individual</label>
        </rules>
    </decisions>
    <description>This flow is in place to emulate a credit score pull.</description>
    <formulas>
        <description>This is to create a random string</description>
        <name>TransactionLog_ExternalID</name>
        <dataType>String</dataType>
        <expression>&apos;55CE7_2447D2_F4CCEA_115E9F58D&apos; + TEXT(NOW())</expression>
    </formulas>
    <interviewLabel>CreditScoreFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreditScoreFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Credit_Report</name>
        <label>Create Credit Report</label>
        <locationX>564</locationX>
        <locationY>333</locationY>
        <assignRecordIdToReference>CreditReportID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Creditor_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>RelationshipID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Account__c</field>
            <value>
                <elementReference>RelationshipID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__App_Plugin__c</field>
            <value>
                <stringValue>Equifax_Credit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Contact__c</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Credit_Score__c</field>
            <value>
                <numberValue>815.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Last_Run_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Report_Category__c</field>
            <value>
                <stringValue>Consumer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Report_Type__c</field>
            <value>
                <stringValue>Hard</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Status__c</field>
            <value>
                <stringValue>PASS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Transaction_Log__c</field>
            <value>
                <elementReference>TransactionLogSOV</elementReference>
            </value>
        </inputAssignments>
        <object>nFUSE__Credit_Report__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Creditor_Records</name>
        <label>Create Creditor Records</label>
        <locationX>423</locationX>
        <locationY>334</locationY>
        <connector>
            <targetReference>Create_Creditor_Records_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>nSight Financial Bank</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Balance_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Creditor_Balance__c</field>
            <value>
                <numberValue>120512.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Creditor_Name__c</field>
            <value>
                <stringValue>nSight Financial Bank</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Liability_Ownership_Type__c</field>
            <value>
                <stringValue>Individual Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Liability_Type__c</field>
            <value>
                <stringValue>Mortgage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Monthly_Payment_Amount__c</field>
            <value>
                <numberValue>903.87</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__ReportId__c</field>
            <value>
                <elementReference>CreditReportID</elementReference>
            </value>
        </inputAssignments>
        <object>nFUSE__Creditor__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Creditor_Records_0</name>
        <label>Create Creditor Records</label>
        <locationX>422</locationX>
        <locationY>480</locationY>
        <connector>
            <targetReference>Create_Creditor_Records_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>nSight Financial Bank</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Balance_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Creditor_Balance__c</field>
            <value>
                <numberValue>1120.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Creditor_Name__c</field>
            <value>
                <stringValue>nSight Financial Bank</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Liability_Ownership_Type__c</field>
            <value>
                <stringValue>Individual Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Liability_Type__c</field>
            <value>
                <stringValue>Revolving</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Monthly_Payment_Amount__c</field>
            <value>
                <numberValue>55.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__ReportId__c</field>
            <value>
                <elementReference>CreditReportID</elementReference>
            </value>
        </inputAssignments>
        <object>nFUSE__Creditor__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Creditor_Records_0_0</name>
        <label>Create Creditor Records</label>
        <locationX>424</locationX>
        <locationY>625</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>nSight Financial Bank</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Balance_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Creditor_Balance__c</field>
            <value>
                <numberValue>15420.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Creditor_Name__c</field>
            <value>
                <stringValue>nSight Financial Bank</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Liability_Ownership_Type__c</field>
            <value>
                <stringValue>Individual Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Liability_Type__c</field>
            <value>
                <stringValue>Installment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Monthly_Payment_Amount__c</field>
            <value>
                <numberValue>354.5</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__ReportId__c</field>
            <value>
                <elementReference>CreditReportID</elementReference>
            </value>
        </inputAssignments>
        <object>nFUSE__Creditor__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_primary_Contact</name>
        <label>Create primary Contact</label>
        <locationX>1156</locationX>
        <locationY>338</locationY>
        <assignRecordIdToReference>ContactID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Transaction_Log</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>RelationshipID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Primary_Contact__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Transaction_Log</name>
        <label>Create Transaction Log</label>
        <locationX>737</locationX>
        <locationY>333</locationY>
        <assignRecordIdToReference>TransactionLogSOV</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Credit_Report</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Action__c</field>
            <value>
                <stringValue>Credit Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Api_Version__c</field>
            <value>
                <stringValue>1.0.0.0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__App_Plugin__c</field>
            <value>
                <stringValue>Equifax_Credit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__External_Id__c</field>
            <value>
                <elementReference>TransactionLog_ExternalID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Primary_Object_Id__c</field>
            <value>
                <stringValue>0016g000008WOfeAAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Requested_By_User_Id__c</field>
            <value>
                <stringValue>0056g000001yGBhAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Requesting_User_Id__c</field>
            <value>
                <stringValue>0056g000001yGBhAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Transaction_Status__c</field>
            <value>
                <stringValue>Transaction Complete</stringValue>
            </value>
        </inputAssignments>
        <object>nFUSE__Transaction_Log__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Primary_Contact</name>
        <label>Lookup Primary Contact</label>
        <locationX>964</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Transaction_Log</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_primary_Contact</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelationshipID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Relationship</name>
        <label>Lookup Relationship</label>
        <locationX>386</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Individual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelationshipID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>RelationshipSOV.LLC_BI__FICO_Date__c</assignToReference>
            <field>LLC_BI__FICO_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelationshipSOV.LLC_BI__FICO_Score__c</assignToReference>
            <field>LLC_BI__FICO_Score__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelationshipSOV.Type</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>642</locationX>
        <locationY>625</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Finished</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Your fake Credit Report has been completed succesfully!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Relationship_Type_is_Blank</name>
        <label>Relationship Type is Blank</label>
        <locationX>958</locationX>
        <locationY>51</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RelationshipTypeBlank</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please fill out the Relationship Type field before utilizing this tool.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Relationship</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreditReportID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PassFail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelationshipID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RelationshipSOV</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Transaction_Log_SOV</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransactionLogSOV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
