force-app/main/default/flows/Credit_Request_Preprocessing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Request_Parameters</name>
        <label>Add Request Parameters</label>
        <locationX>113</locationX>
        <locationY>235</locationY>
        <assignmentItems>
            <assignToReference>RequestAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PluginNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Equifax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isHardRequest</assignToReference>
            <operator>Add</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Credit_Report_List</name>
        <label>Add To Credit Report List</label>
        <locationX>731</locationX>
        <locationY>237</locationY>
        <assignmentItems>
            <assignToReference>TransactionLogIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TransactionLogId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Accounts</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Equifax</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Equifax_Credit</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_For_Credit_Report</name>
        <label>Check For Credit Report</label>
        <locationX>440</locationX>
        <locationY>496</locationY>
        <defaultConnector>
            <targetReference>CUSTOM_Credit_Integration_Mimic</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Credit Report Not Found</defaultConnectorLabel>
        <rules>
            <name>Credit_Report_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TransactionLogId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_To_Credit_Report_List</targetReference>
            </connector>
            <label>Credit Report Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Force_Refresh</name>
        <label>Check Force Refresh</label>
        <locationX>437</locationX>
        <locationY>233</locationY>
        <defaultConnector>
            <targetReference>Get_Valid_Credit_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>is Not Force Refresh</defaultConnectorLabel>
        <rules>
            <name>is_Force_Refresh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ForceRefresh</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Request_Parameters</targetReference>
            </connector>
            <label>is Force Refresh</label>
        </rules>
    </decisions>
    <interviewLabel>Credit Request Preprocessing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Credit_Request_Preprocessing</label>
    <loops>
        <name>Loop_Through_Accounts</name>
        <label>Loop Through Accounts</label>
        <locationX>435</locationX>
        <locationY>73</locationY>
        <assignNextValueToReference>AccountId</assignNextValueToReference>
        <collectionReference>AccountIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Force_Refresh</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Loop_Through_Accounts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>This flow is custom built for this training environment to mimic the basic requirements of a credit integration. It allows us leverage the full capabilities of our Retail Lending platform without leveraging a real credit integration.</description>
        <name>CUSTOM_Credit_Integration_Mimic</name>
        <label>CUSTOM Credit Integration Mimic</label>
        <locationX>238</locationX>
        <locationY>495</locationY>
        <connector>
            <targetReference>Add_Request_Parameters</targetReference>
        </connector>
        <flowName>Credit_Integration_Mimic_Flow_Auto</flowName>
        <inputAssignments>
            <name>RelationshipID</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CreditReportId</assignToReference>
            <name>CreditReportID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <name>RelationshipID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TransactionLogId</assignToReference>
            <name>TransactionLogSOV</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Valid_Credit_Report</name>
        <label>Get Valid Credit Report</label>
        <locationX>439</locationX>
        <locationY>373</locationY>
        <connector>
            <targetReference>Check_For_Credit_Report</targetReference>
        </connector>
        <flowName>Get_Valid_Credit_Report</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>TransactionLogId</assignToReference>
            <name>ValidReportId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreditReportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ForceRefresh</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isHardRequest</name>
        <dataType>Boolean</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PluginNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequestAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TransactionLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransactionLogIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
