force-app/main/default/flows/Display_Offers_Master_OA_IB.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Add Manual Review result description to include a 30 day flag was over threshold</description>
        <name>Add_30_Day_lates</name>
        <label>Add 30 Day lates &gt; 0</label>
        <locationX>3106</locationX>
        <locationY>3942</locationY>
        <assignmentItems>
            <assignToReference>ResultCountOf30DayLates</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedPricingOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Auto_Approval_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X60_Day_Lates_within_Policy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add Manual Review result description to include a 60 day flag was over threshold</description>
        <name>Add_60_Day_lates</name>
        <label>Add 60 Day lates &gt; 0</label>
        <locationX>3041</locationX>
        <locationY>4122</locationY>
        <assignmentItems>
            <assignToReference>ResultCountOf60DayLates</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedPricingOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Auto_Approval_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X90_Day_Lates_Within_Policy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add Manual Review result description to include a 90 day flag was over threshold</description>
        <name>Add_90_Day_Lates_0</name>
        <label>Add 90 Day Lates &gt; 0</label>
        <locationX>3088</locationX>
        <locationY>4312</locationY>
        <assignmentItems>
            <assignToReference>ResultCountOf90DayLates</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedPricingOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Auto_Approval_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multiple_Pieces_of_Collateral_Pledged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Applicant_is_under_age</name>
        <label>Add Applicant is under age</label>
        <locationX>3128</locationX>
        <locationY>3434</locationY>
        <assignmentItems>
            <assignToReference>ResultCountOfApplicantUnderAge</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedPricingOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Auto_Approval_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Duplicate_Applications_Detected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add Manual Review result description to include Collateral Mileage is out of policy.</description>
        <name>Add_Collateral_Mileage_as_Result_Description</name>
        <label>Add Collateral Mileage as Result Description</label>
        <locationX>3070</locationX>
        <locationY>4812</locationY>
        <assignmentItems>
            <assignToReference>ResultCountOfMileageOutOfRange</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedPricingOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Auto_Approval_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increase_Total_Count_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Credit_Score_is_missing</name>
        <label>Add Credit Score is missing</label>
        <locationX>2908</locationX>
        <locationY>96</locationY>
        <assignmentItems>
            <assignToReference>ResultCountOfCreditScoresMissing</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedPricingOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Set_Temp_PricingOption_Collection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loan_Amount_Within_Policy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Duplicate_Applications_Found</name>
        <label>Add Duplicate Applications Found</label>
        <locationX>3168</locationX>
        <locationY>3701</locationY>
        <assignmentItems>
            <assignToReference>ResultCountOfDuplicateAppFlags</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedPricingOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Auto_Approval_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X30_Day_Lates_within_Policy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add Manual Review result description to include Mulitple pieces of collateral was pledged</description>
        <name>Add_Multiple_Collateral_Pledged_to_Result</name>
        <label>Add Multiple Collateral Pledged to Result</label>
        <locationX>3152</locationX>
        <locationY>4604</locationY>
        <assignmentItems>
            <assignToReference>ResultCountOfMultipleCollateralPledged</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedPricingOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Auto_Approval_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collateral_Mileage_within_policy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddOptionToDeletion</name>
        <label>AddOptionToDeletion</label>
        <locationX>2054</locationX>
        <locationY>733</locationY>
        <assignmentItems>
            <assignToReference>OptionsToDelete_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Set_Temp_PricingOption_Collection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountOfOptionsToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increase_Total_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collateral_Age_Add_to_Unapproved_Collection</name>
        <label>Collateral Age - Add to Unapproved Collection</label>
        <locationX>2858</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>ResultCollateralAgeFailureCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedPricingOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Set_Temp_PricingOption_Collection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collateral_Type_within_Policy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collateral_Type_Add_to_unapproved_collection</name>
        <label>Collateral Type - Add to unapproved collection</label>
        <locationX>2821</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>ResultCountofCollateralTypeFailure</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedPricingOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Set_Temp_PricingOption_Collection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UnapprovedCollection_Contains_dupe_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Credit_Report_Needs_Review_Add_to_Unapproved_Collection</name>
        <label>Credit Report Needs Review - Add to Unapproved Collection</label>
        <locationX>3054</locationX>
        <locationY>3147</locationY>
        <assignmentItems>
            <assignToReference>ResultCountOfCreditReportNeedsReview</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedPricingOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Auto_Approval_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Applicant_is_under_age</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add Credit Score below policy to ReasonDescription</description>
        <name>Credit_Score_Below_Policy_Add_to_Unapproved_Collection</name>
        <label>Credit Score Below Policy - Add to Unapproved Collection</label>
        <locationX>2858</locationX>
        <locationY>267</locationY>
        <assignmentItems>
            <assignToReference>ResultCountOfCreditScoreBelowPolicy</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedPricingOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Set_Temp_PricingOption_Collection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loan_Amount_Within_Policy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Credit_Score_does_not_meet_auto_approval</name>
        <label>Credit Score does not meet auto approval</label>
        <locationX>3040</locationX>
        <locationY>2548</locationY>
        <assignmentItems>
            <assignToReference>ResultCountOfCreditScoreManualReview</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedPricingOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Auto_Approval_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LTV_within_Policy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DTI_Add_to_unapproved_collection</name>
        <label>DTI - Add to Unapproved Collection</label>
        <locationX>2832</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>ResultCountofDTIabovePolicy</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedPricingOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Set_Temp_PricingOption_Collection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lien_Position_within_Policy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Total_Count</name>
        <label>Increase Total Count</label>
        <locationX>2033</locationX>
        <locationY>595</locationY>
        <assignmentItems>
            <assignToReference>TotalCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_PO_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Total_Count_0</name>
        <label>Increase Total Count</label>
        <locationX>2561</locationX>
        <locationY>4832</locationY>
        <assignmentItems>
            <assignToReference>TotalCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Auto_Approval_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lien_Position_Add_to_Unapproved_Collection</name>
        <label>Lien Position - Add to Unapproved Collection</label>
        <locationX>2817</locationX>
        <locationY>951</locationY>
        <assignmentItems>
            <assignToReference>ResultCountofLienPositionOutsidePolicy</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedPricingOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Set_Temp_PricingOption_Collection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collateral_Age_within_policy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Loan_Amount_does_not_meet_auto_approval</name>
        <label>Loan Amount does not meet auto approval</label>
        <locationX>3051</locationX>
        <locationY>2281</locationY>
        <assignmentItems>
            <assignToReference>ResultCountOfLoanAmountManualReview</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedPricingOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Auto_Approval_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Credit_Score_meets_Auto_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Loan_Amount_out_of_Policy_Add_to_Unapproved_Collection</name>
        <label>Loan Amount out of Policy - Add to Unapproved Collection</label>
        <locationX>2821</locationX>
        <locationY>435</locationY>
        <assignmentItems>
            <assignToReference>ResultCountOfLoanAmountsOutOfPolicy</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedPricingOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Set_Temp_PricingOption_Collection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DTI_within_Policy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LTV_Add_to_Unapproved_Collection</name>
        <label>LTV - Add to Unapproved Collection</label>
        <locationX>3057</locationX>
        <locationY>2780</locationY>
        <assignmentItems>
            <assignToReference>ResultCountofLTVOutsidePolicy</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedPricingOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Auto_Approval_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Credit_Report_Needs_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Assignment to False</description>
        <name>No_Options_Left_or_Found_Auto_Decline</name>
        <label>No Options Left or Found - Auto Decline</label>
        <locationX>1426</locationX>
        <locationY>1617</locationY>
        <assignmentItems>
            <assignToReference>pricingOptionsApproved</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Loan_Auto_Decision_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the unapproved &amp; total counter to 0 for re-assessing the decision criteria. The next loop of options are slated for approval with manual review.</description>
        <name>Re_set_Unapproved_Total_Counter</name>
        <label>Re-set Unapproved &amp; Total Counter</label>
        <locationX>2383</locationX>
        <locationY>2109</locationY>
        <assignmentItems>
            <assignToReference>UnapprovedCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedPricingOptions</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <connector>
            <targetReference>Auto_Approval_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approved_to_True</name>
        <label>Set Approved to True</label>
        <locationX>1722</locationX>
        <locationY>2612</locationY>
        <assignmentItems>
            <assignToReference>pricingOptionsApproved</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Loan_Auto_Decision_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set decision values for policy.</description>
        <name>Set_Policy_Decision_Values</name>
        <label>Set Policy Decision Values</label>
        <locationX>1650</locationX>
        <locationY>205</locationY>
        <assignmentItems>
            <assignToReference>LoanAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Lookup.LLC_BI__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_PO_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetResultDescription_Auto_Approve</name>
        <label>SetResultDescription - Auto Approve</label>
        <locationX>1542</locationX>
        <locationY>2912</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Loan_Auto_Decision_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetResultDescription_Auto_Decline</name>
        <label>SetResultDescription - Auto Decline</label>
        <locationX>1306</locationX>
        <locationY>1129</locationY>
        <assignmentItems>
            <assignToReference>ResultDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResultDescriptionTrimmedFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto Decline</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Online_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetResultDescription_Manual_Review</name>
        <label>SetResultDescription - Manual Review</label>
        <locationX>2048</locationX>
        <locationY>2699</locationY>
        <assignmentItems>
            <assignToReference>ResultDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResultDescriptionTrimmedFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual Review Required</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Approved_to_True</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>1) Credit Score is completely out of Policy</description>
        <name>Adverse_Action_Auto_Decline</name>
        <label>Adverse Action Auto Decline</label>
        <locationX>273</locationX>
        <locationY>2290</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_of_Credit_Scores_out_of_Policy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResultCountOfCreditScoreBelowPolicy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TotalCounter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Adverse_Action_with_Credit_Score_as_a_Reason</targetReference>
            </connector>
            <label>Count of Credit Scores out of Policy</label>
        </rules>
    </decisions>
    <decisions>
        <description>Auto Decline Criteria = If all options are out of policy; meaning at least one &apos;out of policy&apos; was flagged for each options.</description>
        <name>All_options_out_of_Policy</name>
        <label>All options out of Policy?</label>
        <locationX>1627</locationX>
        <locationY>1114</locationY>
        <defaultConnector>
            <targetReference>Check_for_Records_to_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Options Found within Policy</defaultConnectorLabel>
        <rules>
            <name>All_Options_deleted_Auto_Decline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfOptionsToDelete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TotalCounter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetResultDescription_Auto_Decline</targetReference>
            </connector>
            <label>All Options deleted; Auto Decline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Applicant_is_under_age</name>
        <label>Applicant is under age</label>
        <locationX>2777</locationX>
        <locationY>3401</locationY>
        <defaultConnector>
            <targetReference>Duplicate_Applications_Detected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Applicant is of age</defaultConnectorLabel>
        <rules>
            <name>Applicant_is_too_young</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EntityAge</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Auto_Approval_Loop.Pricing_Matrix_Lookup__r.cm_Minimum_Age_for_Auto_Approval__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Applicant_is_under_age</targetReference>
            </connector>
            <label>Applicant is too young</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Records_to_Delete</name>
        <label>Check for Records to Delete</label>
        <locationX>1599</locationX>
        <locationY>1366</locationY>
        <defaultConnector>
            <targetReference>No_Options_Left_or_Found_Auto_Decline</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Total Count was 0 (No Pricing Options Found)</defaultConnectorLabel>
        <rules>
            <name>Found_records_to_delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfOptionsToDelete</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Unapproved</targetReference>
            </connector>
            <label>Found records to delete</label>
        </rules>
        <rules>
            <name>No_records_to_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfOptionsToDelete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Remaining_Pricing_Options</targetReference>
            </connector>
            <label>No records to Delete</label>
        </rules>
    </decisions>
    <decisions>
        <description>Are any pricing options remaining for manual review or approval?</description>
        <name>Check_for_Remaining_Pricing_Options</name>
        <label>Check for Remaining Pricing Options</label>
        <locationX>1624</locationX>
        <locationY>1596</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Total_count_not_equal_to_Deleted_count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalCounter</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CountOfOptionsToDelete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Re_set_Unapproved_Total_Counter</targetReference>
            </connector>
            <label>Total count not equal to Deleted count</label>
        </rules>
        <rules>
            <name>Total_Count_equals_Deleted_Count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CountOfOptionsToDelete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Options_Left_or_Found_Auto_Decline</targetReference>
            </connector>
            <label>Total Count equals Deleted Count</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collateral_Age_within_policy</name>
        <label>Collateral Age within policy?</label>
        <locationX>2603</locationX>
        <locationY>1104</locationY>
        <defaultConnector>
            <targetReference>Collateral_Age_Add_to_Unapproved_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Collateral age does not meet policy</defaultConnectorLabel>
        <rules>
            <name>Collateral_Age_meets_policy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Temp_PricingOption_Collection.Pricing_Matrix_Lookup__r.LLC_BI__Maximum_Collateral_Age__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CollateralAutoMobileAge</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_Temp_PricingOption_Collection.Pricing_Matrix_Lookup__r.LLC_BI__Minimum_Collateral_Age__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CollateralAutoMobileAge</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collateral_Type_within_Policy</targetReference>
            </connector>
            <label>Collateral Age meets policy</label>
        </rules>
        <rules>
            <name>Age_is_not_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollateralAutoMobileAge</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>Age is not populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collateral_Mileage_within_policy</name>
        <label>Collateral Mileage within policy?</label>
        <locationX>2747</locationX>
        <locationY>4738</locationY>
        <defaultConnector>
            <targetReference>Add_Collateral_Mileage_as_Result_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mileage Out of Range</defaultConnectorLabel>
        <rules>
            <name>Collateral_Mileage_Within_Range</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollateralMileage</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Auto_Approval_Loop.Pricing_Matrix_Lookup__r.LLC_BI__Maximum_Mileage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CollateralMileage</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Auto_Approval_Loop.Pricing_Matrix_Lookup__r.LLC_BI__Minimum_Mileage__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increase_Total_Count_0</targetReference>
            </connector>
            <label>Collateral Mileage Within Range</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collateral_Type_within_Policy</name>
        <label>Collateral Type within Policy?</label>
        <locationX>2596</locationX>
        <locationY>1347</locationY>
        <defaultConnector>
            <targetReference>Collateral_Type_Add_to_unapproved_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Collateral Type does not meet pricing policy</defaultConnectorLabel>
        <rules>
            <name>Collateral_Type_Meets_Policy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Temp_PricingOption_Collection.Pricing_Matrix_Lookup__r.LLC_BI__Collateral_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CollateralType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnapprovedCollection_Contains_dupe_ID</targetReference>
            </connector>
            <label>Collateral Type Meets Policy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Credit_Report_Needs_Review</name>
        <label>Credit Report Needs Review?</label>
        <locationX>2768</locationX>
        <locationY>3088</locationY>
        <defaultConnector>
            <targetReference>Applicant_is_under_age</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Credit Reports Pass</defaultConnectorLabel>
        <rules>
            <name>Count_of_Credit_Report_need_review_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NeedsReviewCreditReportFlag</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Report_Needs_Review_Add_to_Unapproved_Collection</targetReference>
            </connector>
            <label>Count of Credit Report need review &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Credit_Score_meets_Auto_Approval</name>
        <label>Credit Score meets Auto Approval</label>
        <locationX>2759</locationX>
        <locationY>2478</locationY>
        <defaultConnector>
            <targetReference>Credit_Score_does_not_meet_auto_approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Credit Score Lower than Auto Approval</defaultConnectorLabel>
        <rules>
            <name>Credit_Score_greater_than_Option_Minimum_Credit_Score</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreditScore</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Auto_Approval_Loop.Pricing_Matrix_Lookup__r.LLC_BI__Minimum_Credit_Score_For_Auto_Approval__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LTV_within_Policy</targetReference>
            </connector>
            <label>Credit Score greater than Option.Minimum Credit Score</label>
        </rules>
    </decisions>
    <decisions>
        <name>Credit_Score_within_Policy</name>
        <label>Credit Score within Policy</label>
        <locationX>2582</locationX>
        <locationY>145</locationY>
        <defaultConnector>
            <targetReference>Credit_Score_Below_Policy_Add_to_Unapproved_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Credit Score Outside Policy</defaultConnectorLabel>
        <rules>
            <name>Credit_score_is_missing_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreditScore</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Credit_Score_is_missing</targetReference>
            </connector>
            <label>Credit score is missing (= 0)</label>
        </rules>
        <rules>
            <name>Credit_Score_is_within_Pricing_Policy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PricingOption.Pricing_Matrix_Lookup__r.LLC_BI__Credit_Score_Maximum__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CreditScore</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PricingOption.Pricing_Matrix_Lookup__r.LLC_BI__Credit_Score_Minimum__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CreditScore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loan_Amount_Within_Policy</targetReference>
            </connector>
            <label>Credit Score is within Pricing Policy</label>
        </rules>
    </decisions>
    <decisions>
        <name>DTI_within_Policy</name>
        <label>DTI within Policy?</label>
        <locationX>2590</locationX>
        <locationY>605</locationY>
        <defaultConnector>
            <targetReference>Lien_Position_within_Policy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DTI Within Policy</defaultConnectorLabel>
        <rules>
            <name>Below_Max_DTI_Outside_of_Policy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PricingOption.LLC_BI__DTI__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>PricingOption.Pricing_Matrix_Lookup__r.LLC_BI__Maximum_Debt_To_Income__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DTI_Add_to_unapproved_collection</targetReference>
            </connector>
            <label>Below Max DTI- Outside of Policy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicate_Applications_Detected</name>
        <label>Duplicate Applications Detected?</label>
        <locationX>2765</locationX>
        <locationY>3680</locationY>
        <defaultConnector>
            <targetReference>X30_Day_Lates_within_Policy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Duplicate Apps Detected</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Application_Count_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateApplicationFlag</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Duplicate_Applications_Found</targetReference>
            </connector>
            <label>Duplicate Application Count &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lien_Position_within_Policy</name>
        <label>Lien Position within Policy?</label>
        <locationX>2611</locationX>
        <locationY>814</locationY>
        <defaultConnector>
            <targetReference>Lien_Position_Add_to_Unapproved_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lien Position does not meet policy</defaultConnectorLabel>
        <rules>
            <name>Lien_Position_within_Policy_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Temp_PricingOption_Collection.Pricing_Matrix_Lookup__r.cmLien_Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LienPosition</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collateral_Age_within_policy</targetReference>
            </connector>
            <label>Lien Position within Policy Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loan_Amount_Meets_Auto_Approval</name>
        <label>Loan Amount Meets Auto Approval</label>
        <locationX>2755</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Loan_Amount_does_not_meet_auto_approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Loan Amount too High for Auto Approval</defaultConnectorLabel>
        <rules>
            <name>Loan_Amount_meets_Auto_Approval_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoanAmount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Auto_Approval_Loop.Pricing_Matrix_Lookup__r.LLC_BI__Maximum_Amount_For_Auto_Approval__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Score_meets_Auto_Approval</targetReference>
            </connector>
            <label>Loan Amount meets Auto Approval outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loan_Amount_Within_Policy</name>
        <label>Loan Amount Within Policy?</label>
        <locationX>2581</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>Loan_Amount_out_of_Policy_Add_to_Unapproved_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LoanAmount out of Policy</defaultConnectorLabel>
        <rules>
            <name>Loan_Amount_within_policy_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Temp_PricingOption_Collection.Pricing_Matrix_Lookup__r.LLC_BI__Loan_Value_Maximum__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>LoanAmount</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_Temp_PricingOption_Collection.Pricing_Matrix_Lookup__r.LLC_BI__Loan_Value_Minimum__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>LoanAmount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DTI_within_Policy</targetReference>
            </connector>
            <label>Loan Amount within policy outcome</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision path for if the loan was applied for via online application and manual review is required.</description>
        <name>Loan_Applied_for_via_Online_Application_Manual_Review_Required</name>
        <label>Loan Applied for via Online Application &amp; Manual Review Required?</label>
        <locationX>672</locationX>
        <locationY>2341</locationY>
        <defaultConnector>
            <targetReference>Adverse_Action_Auto_Decline</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loan_Applied_for_via_Online_Application_Manual_Review_Required_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan_Lookup.LLC_BI__Application__r.nPortal__Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual Review Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Loan_s_Related_Application_Status</targetReference>
            </connector>
            <label>Loan Applied for via Online Application &amp; Manual Review Required</label>
        </rules>
        <rules>
            <name>Applied_online_app_nPortalProduct_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan_Lookup.LLC_BI__Application__r.nPortal__Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lowest_Term_Option</targetReference>
            </connector>
            <label>Applied online? (app.nPortalProduct != null)</label>
        </rules>
    </decisions>
    <decisions>
        <name>LTV_within_Policy</name>
        <label>LTV within Policy?</label>
        <locationX>2756</locationX>
        <locationY>2766</locationY>
        <defaultConnector>
            <targetReference>LTV_Add_to_Unapproved_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LTV Outside of Policy</defaultConnectorLabel>
        <rules>
            <name>LTV_meets_Policy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Temp_PricingOption_Collection.Pricing_Matrix_Lookup__r.LLC_BI__Minimum_Loan_To_Value__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Loan_Lookup.LLC_BI__Current_LTV__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_Temp_PricingOption_Collection.Pricing_Matrix_Lookup__r.LLC_BI__Maximum_Loan_To_Value__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Loan_Lookup.LLC_BI__Current_LTV__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Report_Needs_Review</targetReference>
            </connector>
            <label>LTV meets Policy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manual_Review</name>
        <label>Manual Review?</label>
        <locationX>2132</locationX>
        <locationY>2396</locationY>
        <defaultConnector>
            <targetReference>SetResultDescription_Auto_Approve</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Meets Auto Approval</defaultConnectorLabel>
        <rules>
            <name>Unapproved_Counter_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UnapprovedCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetResultDescription_Manual_Review</targetReference>
            </connector>
            <label>Unapproved Counter &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Multiple_Pieces_of_Collateral_Pledged</name>
        <label>Multiple Pieces of Collateral Pledged?</label>
        <locationX>2777</locationX>
        <locationY>4554</locationY>
        <defaultConnector>
            <targetReference>Collateral_Mileage_within_policy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NumberOfCollateralPledged_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfCollateralPledged</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Multiple_Collateral_Pledged_to_Result</targetReference>
            </connector>
            <label>NumberOfCollateralPledged &gt; 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Pricing_Options_Decline</name>
        <label>No Pricing Options (Decline)</label>
        <locationX>971</locationX>
        <locationY>313</locationY>
        <defaultConnector>
            <targetReference>Loan_Lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Options Found</defaultConnectorLabel>
        <rules>
            <name>Pricing_Options_are_Emtpy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DefaultPricingOptions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Pricing Options are Emtpy</label>
        </rules>
    </decisions>
    <decisions>
        <description>Pending Offers Scorecard found? This implies that the decision engine is being run by a portal user</description>
        <name>OA_Pending_Offers_Scorecard_Found</name>
        <label>OA Pending Offers Scorecard Found</label>
        <locationX>897</locationX>
        <locationY>1338</locationY>
        <defaultConnector>
            <targetReference>Create_Scorecard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No pending Scorecard (In Branch)</defaultConnectorLabel>
        <rules>
            <name>Scorecard_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PendingOffersScoreCardID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Records_to_Delete</targetReference>
            </connector>
            <label>Scorecard found?</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision path for if the loan was applied for via online application.</description>
        <name>Online_Application</name>
        <label>Online Application?</label>
        <locationX>916</locationX>
        <locationY>1162</locationY>
        <defaultConnector>
            <targetReference>Create_Scorecard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>In Branch Application</defaultConnectorLabel>
        <rules>
            <name>Applied_online_app_nPortalProduct_null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan_Lookup.LLC_BI__Application__r.nPortal__Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pending_Offers_ScoreCard_0</targetReference>
            </connector>
            <label>Applied online? (app.nPortalProduct != null)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Is_Secured</name>
        <label>Product Is Secured?</label>
        <locationX>1246</locationX>
        <locationY>645</locationY>
        <defaultConnector>
            <targetReference>Retrieve_Credit_Report_and_Entity_Attributes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Loan is NOT Secured</defaultConnectorLabel>
        <rules>
            <name>LoanIsSecured_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoanIsSecured</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Collateral_Values</targetReference>
            </connector>
            <label>LoanIsSecured = True</label>
        </rules>
    </decisions>
    <decisions>
        <name>UnapprovedCollection_Contains_dupe_ID</name>
        <label>UnapprovedCollection Contains dupe ID</label>
        <locationX>2090</locationX>
        <locationY>876</locationY>
        <defaultConnector>
            <targetReference>Increase_Total_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Option within Policy - Add to Total Count</defaultConnectorLabel>
        <rules>
            <name>UnapprovedCollection_Contains_ID_already</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UnapprovedPricingOptions</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Set_Temp_PricingOption_Collection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOptionToDeletion</targetReference>
            </connector>
            <label>UnapprovedCollection Contains ID already</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Number of 30 day lates is under &apos;Max number of 30 day lates&apos; then it is within policy.</description>
        <name>X30_Day_Lates_within_Policy</name>
        <label>30 Day Lates within Policy?</label>
        <locationX>2748</locationX>
        <locationY>3913</locationY>
        <defaultConnector>
            <targetReference>X60_Day_Lates_within_Policy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X30_Day_Lates_Over_Threshold</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NumberOf30DayLates</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Auto_Approval_Loop.Pricing_Matrix_Lookup__r.cm_Maximum_30_Day_Lates__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_30_Day_lates</targetReference>
            </connector>
            <label>30 Day Lates Over Threshold</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Number of 30 day lates is under &apos;Max number of 60 day lates&apos; then it is within policy.</description>
        <name>X60_Day_Lates_within_Policy</name>
        <label>60 Day Lates within Policy?</label>
        <locationX>2764</locationX>
        <locationY>4119</locationY>
        <defaultConnector>
            <targetReference>X90_Day_Lates_Within_Policy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X60_Day_lates_over_threshold</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NumberOf60DayLates</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Auto_Approval_Loop.Pricing_Matrix_Lookup__r.cm_Maximum_60_Day_Lates__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_60_Day_lates</targetReference>
            </connector>
            <label>60 Day lates over threshold</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Number of 90 day lates is under &apos;Max number of 90 day lates&apos; then it is within policy.</description>
        <name>X90_Day_Lates_Within_Policy</name>
        <label>90 Day Lates Within Policy?</label>
        <locationX>2770</locationX>
        <locationY>4288</locationY>
        <defaultConnector>
            <targetReference>Multiple_Pieces_of_Collateral_Pledged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X90_Day_Lates_Over_Threshold</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NumberOf90DayLates</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Auto_Approval_Loop.Pricing_Matrix_Lookup__r.cm_Maximum_90_Day_Lates__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_90_Day_Lates_0</targetReference>
            </connector>
            <label>90 Day Lates Over Threshold`</label>
        </rules>
    </decisions>
    <description>Display Offers - Master Flow for Online &amp; In Branch
**** Not filtering out Year of Collateral</description>
    <formulas>
        <name>OnlineAppResult</name>
        <dataType>String</dataType>
        <expression>{!Result}&amp; &quot; - Created Online&quot;</expression>
    </formulas>
    <formulas>
        <name>ResultDescriptionFormula</name>
        <dataType>String</dataType>
        <expression>IF ({!TotalCounter} = {!ResultCountOfLoanAmountManualReview} , &quot;, Loan Amount Above Auto Approval&quot;, &quot;&quot;)+
IF({!TotalCounter} = {!ResultCountOfCreditScoreManualReview}  , &quot;, Credit Score Under Auto Approval&quot;, &quot;&quot;) +
IF ({!TotalCounter} = {!ResultCountOfCreditScoreBelowPolicy}, &quot;, Credit Score is Below Policy&quot; ,&quot;&quot;) +
IF({!TotalCounter} = {!ResultCountofDTIabovePolicy}, &quot;, DTI too high&quot;  ,&quot;&quot;) +
IF({!TotalCounter} = {!ResultCountOfLoanAmountsOutOfPolicy}, &quot;, Loan Amount does not meet policy&quot;  ,&quot;&quot;)+
IF({!TotalCounter} = {!ResultCountOfBankruptcyOutofPolicy}, &quot;, Bankruptcy flagged&quot;  ,&quot;&quot;) +
IF({!TotalCounter} = {!ResultCountofLienPositionOutsidePolicy}, &quot;, Lien Position does not meet policy&quot;  ,&quot;&quot;) +
IF({!TotalCounter} = {!ResultCountofCollateralTypeFailure}, &quot;, Collateral type does not match policy&quot; ,&quot;&quot;) +
IF({!TotalCounter} = {!ResultCountofLTVOutsidePolicy}, &quot;, LTV is outside of policy&quot; ,&quot;&quot;)+
IF({!TotalCounter} = {!ResultCountOfCreditReportNeedsReview}, &quot;, Credit Report Needs Review&quot; ,&quot;&quot;)+
IF({!TotalCounter} = {!ResultCountOfCreditScoresMissing}, &quot;, Credit Score is missing&quot; ,&quot;&quot;)+
IF({!TotalCounter} = {!ResultCountOfDuplicateAppFlags}, &quot;, Duplicate Applications Detected&quot; ,&quot;&quot;) +
IF({!TotalCounter} = {!ResultCountOf30DayLates}, &quot;, 30 Day Lates are out of Policy&quot; ,&quot;&quot;)+
IF({!TotalCounter} = {!ResultCountOf60DayLates}, &quot;, 60 Day Lates are out of Policy&quot; ,&quot;&quot;)+
IF({!TotalCounter} = {!ResultCountOf90DayLates}, &quot;, 90 Day Lates are out of Policy&quot; ,&quot;&quot;)+
IF({!TotalCounter} = {!ResultCountOfMultipleCollateralPledged}, &quot;, Multiple Collateral Pledged- Pricing was based on highest amount pledged&quot; ,&quot;&quot;)+
IF({!TotalCounter} =  {!ResultCountOfApplicantUnderAge}, &quot;, Applicant is under age&quot; ,&quot;&quot;)+
IF({!TotalCounter} =  {!ResultCollateralAgeFailureCounter}, &quot;, Collateral year does not match policy&quot; ,&quot;&quot;)+
IF({!TotalCounter} =  {!ResultCountOfMileageOutOfRange}, &quot;, Collateral mileage is out of policy range&quot; ,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>ResultDescriptionTrimmedFormula</name>
        <dataType>String</dataType>
        <expression>IF({!ResultDescriptionFormula}!= &apos;&apos;, &quot;Reasons for Review: &quot; &amp; RIGHT ({!ResultDescriptionFormula}, LEN({!ResultDescriptionFormula}) - 1), &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Display_Offers_Master_OA_IB {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display_Offers_Master_OA_IB</label>
    <loops>
        <name>Auto_Approval_Loop</name>
        <label>Auto Approval Loop</label>
        <locationX>2586</locationX>
        <locationY>2064</locationY>
        <collectionReference>DefaultPricingOptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loan_Amount_Meets_Auto_Approval</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Manual_Review</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_PO_0_0</name>
        <label>For Each PO</label>
        <locationX>1922</locationX>
        <locationY>326</locationY>
        <assignNextValueToReference>PricingOption</assignNextValueToReference>
        <collectionReference>DefaultPricingOptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Temp_PricingOption_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>All_options_out_of_Policy</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Adverse_Action_with_Credit_Score_as_a_Reason</name>
        <label>Create Adverse Action with Credit Score as a Reason</label>
        <locationX>50</locationX>
        <locationY>2501</locationY>
        <inputAssignments>
            <field>LLC_BI__Decline_Reason_1__c</field>
            <value>
                <stringValue>Poor credit performance with us</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Loan__c</field>
            <value>
                <elementReference>loanId</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Adverse_Action__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Scorecard</name>
        <label>Create Scorecard</label>
        <locationX>1157</locationX>
        <locationY>1434</locationY>
        <connector>
            <targetReference>Check_for_Records_to_Delete</targetReference>
        </connector>
        <inputAssignments>
            <field>LLC_BI__Description__c</field>
            <value>
                <elementReference>ResultDescriptionTrimmedFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Loan__c</field>
            <value>
                <elementReference>loanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Result__c</field>
            <value>
                <stringValue>Decline</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Scorecard__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Inserts a debt record with proposed loan for online loan applications due to PDI-00007828 - check pdi to remove this node.</description>
        <name>Insert_Proposed_Loan_Debt_for_OnlineApp</name>
        <label>Insert Proposed Loan (Debt) for OnlineApp</label>
        <locationX>693</locationX>
        <locationY>2920</locationY>
        <connector>
            <targetReference>Get_Pending_Offers_ScoreCard</targetReference>
        </connector>
        <inputAssignments>
            <field>LLC_BI__Account__c</field>
            <value>
                <elementReference>Loan_Lookup.LLC_BI__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Contact__c</field>
            <value>
                <elementReference>Get_Contact_for_Proposed_Debt.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Debt_Type__c</field>
            <value>
                <stringValue>Proposed Loan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Loan__c</field>
            <value>
                <elementReference>loanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Monthly_Payment__c</field>
            <value>
                <elementReference>LowestMonthlyPaymentProposedLoanDebt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Principal_Balance__c</field>
            <value>
                <elementReference>LoanAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Proposed Loan</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Debt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Unapproved</name>
        <label>Delete Unapproved</label>
        <locationX>1985</locationX>
        <locationY>1445</locationY>
        <connector>
            <targetReference>Check_for_Remaining_Pricing_Options</targetReference>
        </connector>
        <inputReference>OptionsToDelete_Collection</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Contact_for_Proposed_Debt</name>
        <label>Get Contact for Proposed Debt</label>
        <locationX>878</locationX>
        <locationY>2819</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Insert_Proposed_Loan_Debt_for_OnlineApp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan_Lookup.LLC_BI__Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lowest_Term_Option</name>
        <label>Get Lowest Term Option</label>
        <locationX>723</locationX>
        <locationY>2624</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_for_Proposed_Debt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Pricing_Option__c</object>
        <outputAssignments>
            <assignToReference>LowestMonthlyPaymentProposedLoanDebt</assignToReference>
            <field>LLC_BI__Monthly_Payment__c</field>
        </outputAssignments>
        <sortField>LLC_BI__Term__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Find the pending offer&apos;s decision scorecard and update the results. If there is no scorecard, the results will be returned to the LAD rule engine and insert an appropriate scorecard.</description>
        <name>Get_Pending_Offers_ScoreCard</name>
        <label>Get Pending Offers ScoreCard</label>
        <locationX>464</locationX>
        <locationY>2874</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_PendingOffers_Scorecard</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loanId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Result__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Online Application Pending Offers</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Scorecard__c</object>
        <outputAssignments>
            <assignToReference>PendingOffersScoreCardID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Find the pending offer&apos;s decision scorecard and update the results. If there is no scorecard, the results will be returned to the LAD rule engine and insert an appropriate scorecard.</description>
        <name>Get_Pending_Offers_ScoreCard_0</name>
        <label>Get Pending Offers ScoreCard</label>
        <locationX>656</locationX>
        <locationY>1202</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OA_Pending_Offers_Scorecard_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loanId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Result__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Online Application Pending Offers</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Scorecard__c</object>
        <outputAssignments>
            <assignToReference>PendingOffersScoreCardID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricing_Options</name>
        <label>Get Pricing Options</label>
        <locationX>1376</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Pricing_Options_Decline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Pricing_Option__c</object>
        <outputReference>DefaultPricingOptions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__DTI__c</queriedFields>
        <queriedFields>Pricing_Matrix_Lookup__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Grab the product feature of the product reference on loan. Storing the secured boolean value in a variable to decision if collateral needs to be retrieved.</description>
        <name>Get_Product_Feature_Store_is_Loan</name>
        <label>Get Product Feature/ Store is Loan</label>
        <locationX>1123</locationX>
        <locationY>543</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Is_Secured</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan_Lookup.LLC_BI__Product_Reference__r.LLC_BI__Product_Feature__c</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Product_Feature__c</object>
        <outputAssignments>
            <assignToReference>LoanIsSecured</assignToReference>
            <field>LLC_BI__Secured__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get fields from loan</description>
        <name>Loan_Lookup</name>
        <label>Loan Lookup</label>
        <locationX>1202</locationX>
        <locationY>430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Feature_Store_is_Loan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loanId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Product_Reference__c</queriedFields>
        <queriedFields>LLC_BI__Account__c</queriedFields>
        <queriedFields>LLC_BI__Product_Line__c</queriedFields>
        <queriedFields>LLC_BI__Product_Type__c</queriedFields>
        <queriedFields>LLC_BI__Product__c</queriedFields>
        <queriedFields>LLC_BI__Debt_To_Income_Ratio__c</queriedFields>
        <queriedFields>LLC_BI__Auto_Pay__c</queriedFields>
        <queriedFields>LLC_BI__Current_LTV__c</queriedFields>
        <queriedFields>LLC_BI__Amount__c</queriedFields>
        <queriedFields>LLC_BI__Application__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Set_Temp_PricingOption_Collection</name>
        <label>Set Temp PricingOption Collection</label>
        <locationX>2247</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Credit_Score_within_Policy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PricingOption.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Pricing_Option__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loan_Auto_Decision_Result</name>
        <label>Update Loan Auto Decision Result</label>
        <locationX>666</locationX>
        <locationY>1956</locationY>
        <connector>
            <targetReference>Loan_Applied_for_via_Online_Application_Manual_Review_Required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loanId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__Auto_Decision_Status__c</field>
            <value>
                <elementReference>Result</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Stage__c</field>
            <value>
                <stringValue>Credit Underwriting</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Loan__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Application tied to the loan&apos;s status to &quot;Offers Available - Manual Review Required&apos;</description>
        <name>Update_Loan_s_Related_Application_Status</name>
        <label>Update Loan&apos;s Related Application Status</label>
        <locationX>1146</locationX>
        <locationY>2497</locationY>
        <connector>
            <targetReference>Get_Lowest_Term_Option</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan_Lookup.LLC_BI__Application__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>cm_Manual_Review_Required__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Scorecard that is pending offers with Offer&apos;s Decision</description>
        <name>Update_PendingOffers_Scorecard</name>
        <label>Update PendingOffers Scorecard</label>
        <locationX>324</locationX>
        <locationY>2689</locationY>
        <connector>
            <targetReference>Adverse_Action_Auto_Decline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PendingOffersScoreCardID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__Description__c</field>
            <value>
                <elementReference>ResultDescriptionTrimmedFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Result__c</field>
            <value>
                <elementReference>OnlineAppResult</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Scorecard__c</object>
    </recordUpdates>
    <start>
        <locationX>1106</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Pricing_Options</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <description>Get collateral attributes specific for policy.</description>
        <name>Retrieve_Collateral_Values</name>
        <label>Retrieve Collateral Values</label>
        <locationX>1278</locationX>
        <locationY>793</locationY>
        <connector>
            <targetReference>Retrieve_Credit_Report_and_Entity_Attributes</targetReference>
        </connector>
        <flowName>Retrieve_Collateral_Values</flowName>
        <inputAssignments>
            <name>LoanId</name>
            <value>
                <elementReference>loanId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CollateralAutoMobileAge</assignToReference>
            <name>CollateralAutoMobileAge</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CollateralMileage</assignToReference>
            <name>CollateralMileage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CollateralType</assignToReference>
            <name>CollateralTypeName</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LienPosition</assignToReference>
            <name>LienPosition</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PropertyType</assignToReference>
            <name>PropertyType</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NumberOfCollateralPledged</assignToReference>
            <name>NumberOfCollateral</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Retrieve_Credit_Report_and_Entity_Attributes</name>
        <label>Retrieve Credit Report and Entity Attributes</label>
        <locationX>1536</locationX>
        <locationY>653</locationY>
        <connector>
            <targetReference>Set_Policy_Decision_Values</targetReference>
        </connector>
        <flowName>Retrieve_Entity_Details</flowName>
        <inputAssignments>
            <name>LoanId</name>
            <value>
                <elementReference>loanId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CountOfBankruptcyFlags</assignToReference>
            <name>BankruptcyFlagCount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NumberOf30DayLates</assignToReference>
            <name>Count30DayLates</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NumberOf60DayLates</assignToReference>
            <name>Count60DayLates</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NumberOf90DayLates</assignToReference>
            <name>Count90DayLates</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NeedsReviewCreditReportFlag</assignToReference>
            <name>CreditReportNeedsReview</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CreditScore</assignToReference>
            <name>CreditScore</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DuplicateApplicationFlag</assignToReference>
            <name>DuplicateApplicationFlag</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EntityAge</assignToReference>
            <name>EntityAge</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ApprovedCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Bankruptcy</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CollateralAutoMobileAge</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CollateralMileage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CollateralType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountOfBankruptcyFlags</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountOfManualReview</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountOfOptionsToDelete</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CreditScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CurrentLtv</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>DefaultPricingOptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Pricing_Option__c</objectType>
    </variables>
    <variables>
        <description>Will be &gt; 0 if any duplicate applications are found.</description>
        <name>DuplicateApplicationFlag</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EntityAge</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LienPosition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>The Id of the Loan</description>
        <name>loanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoanIsSecured</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LowestMonthlyPaymentProposedLoanDebt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>The max allowed DTI</description>
        <name>MaxDTIRatio</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>NeedsReviewCreditReportFlag</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberOf30DayLates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberOf60DayLates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Total Count of 90 day lates found on debts in loan</description>
        <name>NumberOf90DayLates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberOfCollateralPledged</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>This collection meets criteria that is either a hard decline per bank&apos;s policy or the option does not match the application&apos;s criteria.</description>
        <name>OptionsToDelete_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Pricing_Option__c</objectType>
    </variables>
    <variables>
        <name>PendingOffersScoreCardID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PricingOption</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Pricing_Option__c</objectType>
    </variables>
    <variables>
        <name>pricingOptionsApproved</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PropertyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResultCollateralAgeFailureCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ResultCountOf30DayLates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ResultCountOf60DayLates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ResultCountOf90DayLates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ResultCountOfApplicantUnderAge</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ResultCountOfBankruptcyOutofPolicy</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ResultCountofCollateralTypeFailure</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ResultCountOfCreditReportNeedsReview</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ResultCountOfCreditScoreBelowPolicy</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ResultCountOfCreditScoreManualReview</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ResultCountOfCreditScoresMissing</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ResultCountofDTIabovePolicy</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ResultCountOfDuplicateAppFlags</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ResultCountofLienPositionOutsidePolicy</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ResultCountOfLoanAmountManualReview</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ResultCountOfLoanAmountsOutOfPolicy</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ResultCountofLTVOutsidePolicy</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ResultCountOfMileageOutOfRange</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Count of Options that include Multiple pieces of collateral that was pledged</description>
        <name>ResultCountOfMultipleCollateralPledged</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ResultDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TempPricingOptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Pricing_Option__c</objectType>
    </variables>
    <variables>
        <name>TotalCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UnapprovedCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UnapprovedPricingOptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Pricing_Option__c</objectType>
    </variables>
</Flow>
