force-app/main/default/flows/Get_Valid_Credit_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Valid_Report_Id</name>
        <label>Set Valid Report Id</label>
        <locationX>656</locationX>
        <locationY>488</locationY>
        <assignmentItems>
            <assignToReference>ValidReportId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionLog.nFUSE__External_Id__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>HardPull</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Hard</stringValue>
        </value>
    </constants>
    <constants>
        <name>InFile</name>
        <dataType>String</dataType>
        <value>
            <stringValue>IN FILE</stringValue>
        </value>
    </constants>
    <constants>
        <name>NeedsReview</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NEEDS REVIEW</stringValue>
        </value>
    </constants>
    <constants>
        <name>Pass</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PASS</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Valid_Status</name>
        <label>Check Valid Status</label>
        <locationX>196</locationX>
        <locationY>589</locationY>
        <defaultConnector>
            <targetReference>Check_For_Valid_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Report Not Valid</defaultConnectorLabel>
        <rules>
            <name>Report_Valid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CreditReport.nFUSE__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Pass</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreditReport.nFUSE__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NeedsReview</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreditReport.nFUSE__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InFile</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Transaction_Log</targetReference>
            </connector>
            <label>Report Valid</label>
        </rules>
    </decisions>
    <interviewLabel>Get Valid Credit Report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get_Valid_Credit_Report</label>
    <loops>
        <name>Check_For_Valid_Report</name>
        <label>Check For Valid Report</label>
        <locationX>197</locationX>
        <locationY>340</locationY>
        <assignNextValueToReference>CreditReport</assignNextValueToReference>
        <collectionReference>CreditReports</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Valid_Status</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Credit_Reports</name>
        <label>Get Credit Reports</label>
        <locationX>195</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Valid_Report</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>nFUSE__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>nFUSE__Report_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HardPull</elementReference>
            </value>
        </filters>
        <object>nFUSE__Credit_Report__c</object>
        <outputReference>CreditReports</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>nFUSE__Status__c</queriedFields>
        <queriedFields>nFUSE__Transaction_Log__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction_Log</name>
        <label>Get Transaction Log</label>
        <locationX>438</locationX>
        <locationY>489</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Valid_Report_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreditReport.nFUSE__Transaction_Log__c</elementReference>
            </value>
        </filters>
        <object>nFUSE__Transaction_Log__c</object>
        <outputReference>TransactionLog</outputReference>
        <queriedFields>nFUSE__External_Id__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Credit_Reports</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreditReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFUSE__Credit_Report__c</objectType>
    </variables>
    <variables>
        <name>CreditReports</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFUSE__Credit_Report__c</objectType>
    </variables>
    <variables>
        <name>TransactionLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFUSE__Transaction_Log__c</objectType>
    </variables>
    <variables>
        <name>ValidReportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
