force-app/main/default/flows/Residential_Mortgage_Auto_Decision_Custom.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Criteria</name>
        <label>Add Criteria</label>
        <locationX>838</locationX>
        <locationY>1434</locationY>
        <assignmentItems>
            <assignToReference>Details</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaCreditScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Details</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaDTI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Credit_Score_Add_0_Points</name>
        <label>Add 0 Points</label>
        <locationX>629</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCreditScore.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Score</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCreditScore.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BestBorrowerCreditScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCreditScore.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCreditScore.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_DTI_Ratio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Credit_Score_Add_1_Point_0</name>
        <label>Add 1 Point</label>
        <locationX>828</locationX>
        <locationY>711</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCreditScore.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Score</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCreditScore.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BestBorrowerCreditScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCreditScore.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCreditScore.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_DTI_Ratio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Credit_Score_Add_2_Points_0</name>
        <label>Add 2 Points</label>
        <locationX>1028</locationX>
        <locationY>718</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCreditScore.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Score</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCreditScore.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BestBorrowerCreditScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCreditScore.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCreditScore.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_DTI_Ratio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DTI_Add_0_Points</name>
        <label>Add 0 Points</label>
        <locationX>630</locationX>
        <locationY>1186</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaDTI.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DTI Ratio</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaDTI.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan.LLC_BI__Debt_To_Income_Ratio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaDTI.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaDTI.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DTI_Add_1_Point_0</name>
        <label>Add 1 Point</label>
        <locationX>837</locationX>
        <locationY>1183</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaDTI.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DTI Ratio</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaDTI.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan.LLC_BI__Debt_To_Income_Ratio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaDTI.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaDTI.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DTI_Add_2_Points_0_0</name>
        <label>Add 2 Points</label>
        <locationX>1028</locationX>
        <locationY>1184</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaDTI.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DTI Ratio</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaDTI.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan.LLC_BI__Debt_To_Income_Ratio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaDTI.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaDTI.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recommended_for_Approval</name>
        <label>Recommended for Approval</label>
        <locationX>532</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResultRecommendForApproval</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescriptionApproved</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Result_Manual_Review_Required</name>
        <label>Manual Review Required</label>
        <locationX>838</locationX>
        <locationY>1804</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResultManualReviewRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescriptionManualReviewRequired</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Result_Recommended_for_Declination</name>
        <label>Recommended for Declination</label>
        <locationX>1142</locationX>
        <locationY>1603</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResultRecommendForDeclination</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescriptionRecommendedForDeclination</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets loan amount calculation auto-decline result in output.</description>
        <name>Return_Loan_Amount_Calculation_Decline</name>
        <label>Return Loan Amount Calculation Decline</label>
        <locationX>351</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResultRecommendForDeclination</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescriptionLoanAmountCalculationDecline</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Min_and_Max_Points</name>
        <label>Set Min and Max Points</label>
        <locationX>537</locationX>
        <locationY>232</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaximumPoints</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Borrowers_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the product line to mortgage.</description>
        <name>Set_Mortgage_Product_Line</name>
        <label>Set Mortgage Product Line</label>
        <locationX>192</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>ProductLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mortgage</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loan_Amount_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Stores the value of the highest credit score.</description>
        <name>Store_Best_Borrower_Score</name>
        <label>Store Best Borrower Score</label>
        <locationX>1096</locationX>
        <locationY>403</locationY>
        <assignmentItems>
            <assignToReference>BestBorrowerCreditScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAccountCreditScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Best_Credit_Score</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>A status during a loan amount up to indicate that the loan amount calcation is missing for the specified product type.</description>
        <name>ResultCalculationMissing</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Calculation Missing</stringValue>
        </value>
    </constants>
    <constants>
        <description>A status during a credit pull to indicate missing account information is requested.</description>
        <name>ResultInformationRequested</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Information Request Initiated</stringValue>
        </value>
    </constants>
    <constants>
        <description>A status during a credit pull to indicate missing account information is required.</description>
        <name>ResultInformationRequired</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Information Required</stringValue>
        </value>
    </constants>
    <constants>
        <description>Indicates that a manual review is required on a credit pull.</description>
        <name>ResultManualReviewRequired</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Manual Review Required</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores value of auto-approve status.</description>
        <name>ResultRecommendForApproval</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Recommended for Approval</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores auto-decline status value.</description>
        <name>ResultRecommendForDeclination</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Recommended for Declination</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>831</locationX>
        <locationY>1599</locationY>
        <defaultConnector>
            <targetReference>Result_Recommended_for_Declination</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Recommended for Decline</defaultConnectorLabel>
        <rules>
            <name>Recommend_for_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignedPoints</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recommended_for_Approval</targetReference>
            </connector>
            <label>Recommend for Approval</label>
        </rules>
        <rules>
            <name>Manual_Review_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignedPoints</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssignedPoints</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Result_Manual_Review_Required</targetReference>
            </connector>
            <label>Manual Review Required</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if credit score is high enough to be approved.</description>
        <name>Evaluate_Credit_Score</name>
        <label>Evaluate Credit Score</label>
        <locationX>810</locationX>
        <locationY>520</locationY>
        <defaultConnector>
            <targetReference>Credit_Score_Add_2_Points_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Credit Score &gt; 750</defaultConnectorLabel>
        <rules>
            <name>Credit_Score_600</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BestBorrowerCreditScore</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>600.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Score_Add_0_Points</targetReference>
            </connector>
            <label>Credit Score &lt; 600</label>
        </rules>
        <rules>
            <name>Credit_Score_Between_600_and_750</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BestBorrowerCreditScore</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>600.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BestBorrowerCreditScore</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>750.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Score_Add_1_Point_0</targetReference>
            </connector>
            <label>Credit Score Between 600 and 750</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluate DTI Ratio</description>
        <name>Evaluate_DTI_Ratio</name>
        <label>Evaluate DTI Ratio</label>
        <locationX>820</locationX>
        <locationY>920</locationY>
        <defaultConnector>
            <targetReference>DTI_Add_2_Points_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DTI &lt; 15</defaultConnectorLabel>
        <rules>
            <name>DTI_35</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan.LLC_BI__Debt_To_Income_Ratio__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>35.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DTI_Add_0_Points</targetReference>
            </connector>
            <label>DTI &gt; 35</label>
        </rules>
        <rules>
            <name>DTI_Between_15_and_35</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan.LLC_BI__Debt_To_Income_Ratio__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan.LLC_BI__Debt_To_Income_Ratio__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>35.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DTI_Add_1_Point_0</targetReference>
            </connector>
            <label>DTI Between 15% and 35%</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines which borrower has the highest credit score.</description>
        <name>Is_Best_Borrower</name>
        <label>Is Best Borrower</label>
        <locationX>1089</locationX>
        <locationY>236</locationY>
        <defaultConnector>
            <targetReference>Get_Best_Credit_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Best_Borrower_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentAccountCreditScore</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>BestBorrowerCreditScore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Best_Borrower_Score</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the result of the loan amount update was successful.</description>
        <name>Loan_Amount_Updated</name>
        <label>Loan Amount Updated?</label>
        <locationX>342</locationX>
        <locationY>233</locationY>
        <defaultConnector>
            <targetReference>Set_Min_and_Max_Points</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Loan_Amount_Updated_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ResultCalculationMissing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Loan_Amount_Calculation_Decline</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the result of the credit pull needs to be reviewed.</description>
        <name>Review_Borrower_Score_Result</name>
        <label>Review Score Result</label>
        <locationX>1090</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Is_Best_Borrower</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Retrieve_Borrower_Score_Result_Exit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ResultInformationRequired</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ResultInformationRequested</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Best_Credit_Score</targetReference>
            </connector>
            <label>Exit</label>
        </rules>
    </decisions>
    <description>Auto-Decision tweaked for Training purposes.</description>
    <formulas>
        <description>Creates an approval message.</description>
        <name>DescriptionApproved</name>
        <dataType>String</dataType>
        <expression>{!Loan.Name} &amp; &quot; has completed decisioning and is recommended for approved. Review all the details here and &apos;submit for approval&apos; to continue with the auto-approval process.&quot;</expression>
    </formulas>
    <formulas>
        <description>Creates declined message due to credit score.</description>
        <name>DescriptionCreditScoreDecline</name>
        <dataType>String</dataType>
        <expression>{!Loan.Name} &amp; &quot; has completed decisioning and is recommended for declination due to the credit score being at or below 600.&quot;</expression>
    </formulas>
    <formulas>
        <description>Creates declined message due to loan amount calculation.</description>
        <name>DescriptionLoanAmountCalculationDecline</name>
        <dataType>String</dataType>
        <expression>{!Loan.Name} &amp; &quot; has completed decisioning and is declined due to a missing loan amount calculation for the specified product type (&quot; &amp; TEXT({!Loan.LLC_BI__Product_Type__c}) &amp; &quot;).&quot;</expression>
    </formulas>
    <formulas>
        <name>DescriptionManualReviewRequired</name>
        <dataType>String</dataType>
        <expression>{!Loan.Name} &amp; &quot; has completed decisioning and requires further review. After review, either submit the loan for approval or take action trough the declination process as soon as possible. &quot;</expression>
    </formulas>
    <formulas>
        <description>Recommended for Declination Result Description</description>
        <name>DescriptionRecommendedForDeclination</name>
        <dataType>String</dataType>
        <expression>{!Loan.Name} &amp; &quot; has completed decisioning and is recommended for decline after evaluating the criteria. Ensure all criteria is up-to-date and accurate. If so, proceed through the Declination process as soon as possible. &quot;</expression>
    </formulas>
    <interviewLabel>Residential Mortgage Auto Decision - Custom {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Residential Mortgage Auto Decision - Custom</label>
    <loops>
        <description>Determine which borrower has the best credit score.</description>
        <name>Get_Best_Credit_Score</name>
        <label>Get Best Credit Score</label>
        <locationX>816</locationX>
        <locationY>232</locationY>
        <assignNextValueToReference>CurrentAccount</assignNextValueToReference>
        <collectionReference>BorrowerAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Borrower_Score</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Evaluate_Credit_Score</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get specified loan information.</description>
        <name>Load_Loan_Data</name>
        <label>Load Loan Data</label>
        <locationX>192</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Mortgage_Product_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <outputReference>Loan</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>LLC_BI__Debt_To_Income_Ratio__c</queriedFields>
        <queriedFields>LLC_BI__Product_Type__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Load_Loan_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Retrieves the borrower&apos;s credit score.</description>
        <name>Get_Borrower_Score</name>
        <label>Get Borrower Score</label>
        <locationX>816</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>Review_Borrower_Score_Result</targetReference>
        </connector>
        <flowName>RMOR__GetIndividualCreditScore</flowName>
        <inputAssignments>
            <name>Account</name>
            <value>
                <elementReference>CurrentAccount</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CurrentAccountCreditScore</assignToReference>
            <name>CreditScore</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Result</assignToReference>
            <name>Result</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResultDescription</assignToReference>
            <name>ResultDescription</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Looks up borrowers for the current loan.</description>
        <name>Get_Borrowers_Info</name>
        <label>Get Borrowers Info</label>
        <locationX>699</locationX>
        <locationY>233</locationY>
        <connector>
            <targetReference>Get_Best_Credit_Score</targetReference>
        </connector>
        <flowName>RMOR__LoanGetAccounts</flowName>
        <inputAssignments>
            <name>includeBorrowers</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>includeCoBorrowers</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoanId</name>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>BorrowerAccounts</assignToReference>
            <name>Accounts</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AssignedPoints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Stores the highest borrower credit score.</description>
        <name>BestBorrowerCreditScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Account details of borrowers on the loan.</description>
        <name>BorrowerAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CriteriaCreditScore</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <name>CriteriaDTI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <description>A single account being iterated over.</description>
        <name>CurrentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Stores the credit score of the account being iterated over.</description>
        <name>CurrentAccountCreditScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Details</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <description>The record details for a specified loan.</description>
        <name>Loan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <description>Loan Context Id</description>
        <name>LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MaximumPoints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Stores the name of the product line for the flow.</description>
        <name>ProductLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the result of a credit check.</description>
        <name>Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>ResultManualReviewRequired</elementReference>
        </value>
    </variables>
    <variables>
        <description>Stores description of the credit score result.</description>
        <name>ResultDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
