force-app/main/default/flows/Retail_Loan_Material_Changes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Has_Pricing_Options</name>
        <label>Has Pricing Options</label>
        <locationX>856</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Options_are_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PricingOptions_collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Pricing_Options</targetReference>
            </connector>
            <label>Options are not null</label>
        </rules>
    </decisions>
    <description>Flow is launched from picklist value of &apos;material changes&apos;  on loan via process builder</description>
    <interviewLabel>Retail Loan - Material Changes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retail Loan - Material Changes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Pricing_Options</name>
        <label>Delete Pricing Options</label>
        <locationX>1001</locationX>
        <locationY>147</locationY>
        <inputReference>PricingOptions_collection</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Pricing_Options</name>
        <label>Get All Pricing Options</label>
        <locationX>554</locationX>
        <locationY>99</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Revert_Loan_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Pricing_Option__c</object>
        <outputReference>PricingOptions_collection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan</name>
        <label>Get Loan</label>
        <locationX>310</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Pricing_Options</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Revert_Loan_Values</name>
        <label>Revert Loan Values</label>
        <locationX>726</locationX>
        <locationY>160</locationY>
        <connector>
            <targetReference>Has_Pricing_Options</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__Approved_Loan_Amount__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Auto_Decision_Status__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Credit_Approval_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Default_App__c</field>
            <value>
                <elementReference>PreApprovalDefaultApp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Stage__c</field>
            <value>
                <stringValue>Credit Underwriting</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Loan__c</object>
    </recordUpdates>
    <start>
        <locationX>69</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>Get_Loan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PreApprovalDefaultApp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>retail-loan-ui.retail-loan-ui-application</stringValue>
        </value>
    </variables>
    <variables>
        <name>PricingOptions_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Pricing_Option__c</objectType>
    </variables>
</Flow>
