force-app/main/default/flows/Retrive_Pricing_Options_Custom.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Decide_Product_Line_Flow</name>
        <label>Decide Product Line Flow</label>
        <locationX>318</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Pricing_Options_for_Retail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Retail</defaultConnectorLabel>
        <rules>
            <name>Mortgage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoanRecord.LLC_BI__Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mortgage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mortgage_Pricing_Options</targetReference>
            </connector>
            <label>Mortgage</label>
        </rules>
    </decisions>
    <interviewLabel>Retrive Pricing Options - Custom {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retrive Pricing Options - Custom</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Product_Line</name>
        <label>Get Product Line</label>
        <locationX>176</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_Product_Line_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <outputReference>LoanRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Product_Line__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Product_Line</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Mortgage_Pricing_Options</name>
        <label>Mortgage Pricing Options</label>
        <locationX>227</locationX>
        <locationY>275</locationY>
        <flowName>Residential_Mortgage_Retrieve_Pricing_Options_Custom</flowName>
        <inputAssignments>
            <name>LoanId</name>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Pricing_Options_for_Retail</name>
        <label>Pricing Options for Retail</label>
        <locationX>420</locationX>
        <locationY>277</locationY>
        <flowName>Unsecured_Pricing_Options</flowName>
        <inputAssignments>
            <name>LoanId</name>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
</Flow>
