force-app/main/default/flows/Retrieve_Entity_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_age_to_collection</name>
        <label>Add age to collection</label>
        <locationX>226</locationX>
        <locationY>688</locationY>
        <assignmentItems>
            <assignToReference>AgeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LeadingAge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntityAge</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadingAge</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_All_Entities_for_Credit_Report_Attributes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add all EI&apos;s Credit Scores to the variable TotalFicoScore and increase the count, these values will be referenced in the Average Fico Score formula field.</description>
        <name>Add_Credit_Score_Attributes</name>
        <label>Add Credit Score Attributes</label>
        <locationX>522</locationX>
        <locationY>1033</locationY>
        <assignmentItems>
            <assignToReference>TotalCreditScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreditScoreFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountOfCreditScores</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadingCreditScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreditScoreFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BankruptcyFlagCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BankruptcyIndicatorFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReposessionFlagCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RepossessionIndicatorFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForeclosureFlagCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ForeclosureIndicatorFlag</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChargeOffFlagCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Credit_Report_Record.nFUSE__Number_Of_Charge_Offs__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreditReportNeedsReview</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreditReportNeedsReviewFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberOfEntities</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Credit_Scores_in_a_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_up_30_60_90_flags</name>
        <label>Add up 30/60/90 flags</label>
        <locationX>1454</locationX>
        <locationY>1932</locationY>
        <assignmentItems>
            <assignToReference>Count30DayLates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count30daysNullValueFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count60DayLates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count60DayNullValueFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count90DayLates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count90DayLatesNullValueFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Debts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns credit score to the average score calculation</description>
        <name>Assign_Final_Credit_Score</name>
        <label>Assign Final Credit Score</label>
        <locationX>1139</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>CreditScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LowestCreditScoreFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Age_of_Entities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns credit score to the average score calculation</description>
        <name>Assign_Final_Credit_Score_0</name>
        <label>Assign Final Credit Score</label>
        <locationX>851</locationX>
        <locationY>1141</locationY>
        <assignmentItems>
            <assignToReference>CreditScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LowestCreditScoreFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RelatedApplications_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the youngest age to the entity age variable which will be referenced in the display offers flow to determine if applicant is old enough for loan.</description>
        <name>Assign_final_youngest_age</name>
        <label>Assign final youngest age</label>
        <locationX>1959</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>EntityAge</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>YoungestAgeFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RelatedApplications_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lowest_Credit_Score</name>
        <label>Assign Lowest Credit Score</label>
        <locationX>1250</locationX>
        <locationY>796</locationY>
        <assignmentItems>
            <assignToReference>LowestCreditScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_credit_scores</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_credit_scores</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Youngest_Age</name>
        <label>Assign Youngest Age</label>
        <locationX>1534</locationX>
        <locationY>739</locationY>
        <assignmentItems>
            <assignToReference>YoungestAge</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Age_of_Entities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Age_of_Entities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DuplicateApplicationInProgressFlagged</name>
        <label>DuplicateApplicationInProgressFlagged</label>
        <locationX>1016</locationX>
        <locationY>1795</locationY>
        <assignmentItems>
            <assignToReference>DuplicateApplicationFlag</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_related_applications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Store all credit scores in a collection</description>
        <name>Store_Credit_Scores_in_a_Collection</name>
        <label>Store Credit Scores in a Collection</label>
        <locationX>324</locationX>
        <locationY>1096</locationY>
        <assignmentItems>
            <assignToReference>CreditScoreCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreditScoreFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_applications_for_applicants</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Iterated_Age_is_Younger_than_leading_Age</name>
        <label>Iterated Age is Younger than leading Age</label>
        <locationX>1378</locationX>
        <locationY>881</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Age_of_Entities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Iterated_Credit_Score_is_Less_than_Leading_Score_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Age_of_Entities</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>LeadingAge</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Youngest_Age</targetReference>
            </connector>
            <label>Iterated Credit Score is Less than Leading Score</label>
        </rules>
    </decisions>
    <decisions>
        <name>Iterated_Credit_Score_is_Less_than_Leading_Score_Decision</name>
        <label>Iterated Credit Score is Less than Leading Score Decision</label>
        <locationX>1001</locationX>
        <locationY>944</locationY>
        <defaultConnector>
            <targetReference>Loop_through_credit_scores</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Iterated_Credit_Score_is_Less_than_Leading_Score</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_credit_scores</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>LeadingCreditScore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lowest_Credit_Score</targetReference>
            </connector>
            <label>Iterated Credit Score is Less than Leading Score</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loan_is_Not_Booked</name>
        <label>Loan is Not Booked</label>
        <locationX>653</locationX>
        <locationY>1688</locationY>
        <defaultConnector>
            <targetReference>Loop_through_related_applications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Loan is Booked</defaultConnectorLabel>
        <rules>
            <name>LoanStage_NOT_Booked_not_Declined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_related_applications.LLC_BI__Loan__r.LLC_BI__Is_Booked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_related_applications.LLC_BI__Loan__r.LLC_BI__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DuplicateApplicationInProgressFlagged</targetReference>
            </connector>
            <label>LoanStage NOT = Booked &amp; not Declined</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_than_one_Applicant</name>
        <label>More than one Applicant?</label>
        <locationX>725</locationX>
        <locationY>622</locationY>
        <defaultConnector>
            <targetReference>Assign_Final_Credit_Score_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>One Applicant</defaultConnectorLabel>
        <rules>
            <name>Number_of_Entities_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfEntities</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_credit_scores</targetReference>
            </connector>
            <label>Number of Entities &gt; 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>RelatedApplications_Found</name>
        <label>RelatedApplications Found?</label>
        <locationX>840</locationX>
        <locationY>1317</locationY>
        <defaultConnector>
            <targetReference>Get_All_Debts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Applications Found</defaultConnectorLabel>
        <rules>
            <name>RelatedApplication_count_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedApplications</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_related_applications</targetReference>
            </connector>
            <label>RelatedApplication count &gt; 0</label>
        </rules>
    </decisions>
    <description>Subflow for unsecured pricing option that retrieves the average or lowest credit score, age of applicants, detects duplicate applications and additional credit report attributes</description>
    <formulas>
        <name>AverageCreditScoreFormula</name>
        <dataType>Number</dataType>
        <expression>{!TotalCreditScore}/{!CountOfCreditScores}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>BankruptcyIndicatorFormula</name>
        <dataType>Number</dataType>
        <expression>IF({!Get_Credit_Report_Record.nFUSE__Bankruptcy_Indicator__c} = true, 1, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Count30daysNullValueFormula</name>
        <dataType>Number</dataType>
        <expression>Nullvalue({!Loop_through_Debts.LLC_BI__Count_30_Days_Past_Due__c},0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Count60DayNullValueFormula</name>
        <dataType>Number</dataType>
        <expression>NULLVALUE({!Loop_through_Debts.LLC_BI__Count_60_Days_Past_Due__c},0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Count90DayLatesNullValueFormula</name>
        <dataType>Number</dataType>
        <expression>NULLVALUE({!Loop_through_Debts.LLC_BI__Count_90_Days_Past_Due__c},0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Indicates if custom field: Credit_report_status__c on Account is flagged for any additional review reasons</description>
        <name>CreditReportNeedsReviewFormula</name>
        <dataType>Number</dataType>
        <expression>IF({!Loop_Through_All_Entities_for_Credit_Report_Attributes.LLC_BI__Account__r.Credit_Report_Scorecard__c} = &apos;Complete&apos; ||{!Loop_Through_All_Entities_for_Credit_Report_Attributes.LLC_BI__Account__r.Credit_Report_Scorecard__c}= &apos;Pass&apos; || {!Loop_Through_All_Entities_for_Credit_Report_Attributes.LLC_BI__Account__r.Credit_Report_Scorecard__c}= &apos;No Flags&apos;,0, 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CreditScoreFormula</name>
        <dataType>Number</dataType>
        <expression>Nullvalue({!Loop_Through_All_Entities_for_Credit_Report_Attributes.LLC_BI__Account__r.LLC_BI__FICO_Score__c} ,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ForeclosureIndicatorFlag</name>
        <dataType>Number</dataType>
        <expression>IF({!Get_Credit_Report_Record.nFUSE__Foreclosure__c} = true, 1,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LowestCreditScoreFormula</name>
        <dataType>Number</dataType>
        <expression>NULLVALUE({!LowestCreditScore},{!LeadingCreditScore})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RepossessionIndicatorFormula</name>
        <dataType>Number</dataType>
        <expression>IF({!Get_Credit_Report_Record.nFUSE__Repossession__c} = true, 1, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>YoungestAgeFormula</name>
        <dataType>Number</dataType>
        <expression>NULLVALUE({!YoungestAge},{!LeadingAge})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Retrieve Entity Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retrieve Entity Details</label>
    <loops>
        <name>Loop_through_Age_of_Entities</name>
        <label>Loop through Age of Entities</label>
        <locationX>1331</locationX>
        <locationY>529</locationY>
        <collectionReference>AgeCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Iterated_Age_is_Younger_than_leading_Age</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_final_youngest_age</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops through all entities &amp; calculates total credit score for average credit score calculation and captures attributes for decisioning.</description>
        <name>Loop_Through_All_Entities_for_Credit_Report_Attributes</name>
        <label>Loop Through All Entities- for Credit Report Attributes</label>
        <locationX>496</locationX>
        <locationY>645</locationY>
        <collectionReference>sobjColl_LegalEntities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Credit_Report_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>More_than_one_Applicant</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_credit_scores</name>
        <label>Loop through credit scores</label>
        <locationX>871</locationX>
        <locationY>631</locationY>
        <collectionReference>CreditScoreCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Iterated_Credit_Score_is_Less_than_Leading_Score_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Final_Credit_Score</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Debts</name>
        <label>Loop through Debts</label>
        <locationX>1647</locationX>
        <locationY>1768</locationY>
        <collectionReference>Get_All_Debts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_up_30_60_90_flags</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_through_related_applications</name>
        <label>Loop through related applications</label>
        <locationX>925</locationX>
        <locationY>1545</locationY>
        <collectionReference>RelatedApplications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loan_is_Not_Booked</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Debts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_applicant_age</name>
        <label>Get all applicant age</label>
        <locationX>112</locationX>
        <locationY>780</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_age_to_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_All_Entities_for_Credit_Report_Attributes.LLC_BI__Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>LeadingAge</assignToReference>
            <field>Age__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_all_applications_for_applicants</name>
        <label>Get all applications for applicants</label>
        <locationX>34</locationX>
        <locationY>1016</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_applicant_age</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_All_Entities_for_Credit_Report_Attributes.LLC_BI__Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>LLC_BI__Legal_Entities__c</object>
        <outputReference>RelatedApplications</outputReference>
        <queriedFields>LLC_BI__Account__c</queriedFields>
        <queriedFields>LLC_BI__Loan__c</queriedFields>
        <queriedFields>LLC_BI__Borrower_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get All Debts from loan record to absorb 30/60/90 day lates + other de-duped creditor attributes</description>
        <name>Get_All_Debts</name>
        <label>Get All Debts</label>
        <locationX>1410</locationX>
        <locationY>1632</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Debts</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Exclude__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Count_30_Days_Past_Due__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Count_60_Days_Past_Due__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Count_90_Days_Past_Due__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Debt__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Count_30_Days_Past_Due__c</queriedFields>
        <queriedFields>LLC_BI__Count_60_Days_Past_Due__c</queriedFields>
        <queriedFields>LLC_BI__Count_90_Days_Past_Due__c</queriedFields>
        <queriedFields>LLC_BI__Exclude__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Credit_Report_Record</name>
        <label>Get Credit Report Record</label>
        <locationX>703</locationX>
        <locationY>902</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Credit_Score_Attributes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>nFUSE__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_All_Entities_for_Credit_Report_Attributes.LLC_BI__Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>nFUSE__App_Plugin__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AppPlugin</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>nFUSE__Credit_Report__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all [non household/ related entity] entities related to loan</description>
        <name>Get_Entity_Involvement</name>
        <label>Get Entity Involvement</label>
        <locationX>728</locationX>
        <locationY>265</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_All_Entities_for_Credit_Report_Attributes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Borrower_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Borrower Household</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Borrower_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Guarantor Household</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Borrower_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Grantor</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Borrower_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Hypothecator</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Legal_Entities__c</object>
        <outputReference>sobjColl_LegalEntities</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Account__c</queriedFields>
        <queriedFields>LLC_BI__Loan__c</queriedFields>
        <queriedFields>LLC_BI__Deposit__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>798</locationX>
        <locationY>86</locationY>
        <connector>
            <targetReference>Get_Entity_Involvement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AgeCollection</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>AppPlugin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Equifax_Credit</stringValue>
        </value>
    </variables>
    <variables>
        <name>BankruptcyFlagCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>BankruptyFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChargeOffFlagCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Count30DayLates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Count60DayLates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Count90DayLates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Number of Applications in progress for this entity</description>
        <name>CountOfApplicationsInProgress</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Count increases with each entity</description>
        <name>CountOfCreditScores</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CreditReportNeedsReview</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CreditReportVendorPlugin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Equifax_Credit</stringValue>
        </value>
    </variables>
    <variables>
        <name>CreditScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Store all credit scores in a collection</description>
        <name>CreditScoreCollection</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>DuplicateApplicationFlag</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EntityAge</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ForeclosureFlagCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LeadingAge</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LeadingCreditScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LowestCreditScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberOfEntities</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RelatedApplications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Legal_Entities__c</objectType>
    </variables>
    <variables>
        <name>ReposessionFlagCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sobjColl_LegalEntities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Legal_Entities__c</objectType>
    </variables>
    <variables>
        <description>Total Credit Score used in average credit score calculation</description>
        <name>TotalCreditScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>YoungestAge</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
