force-app/main/default/flows/Retrieve_Credit_Scores.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>Add all EI&apos;s Credit Scores to the variable TotalFicoScore and increase the count, these values will be referenced in the Average Fico Score formula field.</description>
        <name>Add_Credit_Score_Attributes</name>
        <label>Add Credit Score Attributes</label>
        <locationX>383</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>TotalCreditScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_All_Entities_for_Credit_Report_Attributes.LLC_BI__Account__r.LLC_BI__FICO_Score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountOfCreditScores</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadingCreditScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_All_Entities_for_Credit_Report_Attributes.LLC_BI__Account__r.LLC_BI__FICO_Score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BankruptcyFlagCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BankruptcyIndicatorFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReposessionFlagCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RepossessionIndicatorFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForeclosureFlagCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ForeclosureIndicatorFlag</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChargeOffFlagCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Credit_Report_Record.nFUSE__Number_Of_Charge_Offs__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThirtyDayLatesFlagCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Credit_Scores_in_a_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns credit score to the average score calculation</description>
        <name>Assign_Final_Credit_Score</name>
        <label>Assign Final Credit Score</label>
        <locationX>1084</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>CreditScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LowestCreditScoreFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Lowest_Credit_Score</name>
        <label>Assign Lowest Credit Score</label>
        <locationX>1050</locationX>
        <locationY>582</locationY>
        <assignmentItems>
            <assignToReference>LowestCreditScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_credit_scores</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_credit_scores</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Store all credit scores in a collection</description>
        <name>Store_Credit_Scores_in_a_Collection</name>
        <label>Store Credit Scores in a Collection</label>
        <locationX>132</locationX>
        <locationY>904</locationY>
        <assignmentItems>
            <assignToReference>CreditScoreCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_All_Entities_for_Credit_Report_Attributes.LLC_BI__Account__r.LLC_BI__FICO_Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_All_Entities_for_Credit_Report_Attributes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Iterated_Credit_Score_is_Less_than_Leading_Score_Decision</name>
        <label>Iterated Credit Score is Less than Leading Score Decision</label>
        <locationX>897</locationX>
        <locationY>775</locationY>
        <defaultConnector>
            <targetReference>Loop_through_credit_scores</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Iterated_Credit_Score_is_Less_than_Leading_Score</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_credit_scores</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>LeadingCreditScore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lowest_Credit_Score</targetReference>
            </connector>
            <label>Iterated Credit Score is Less than Leading Score</label>
        </rules>
    </decisions>
    <description>Subflow for unsecured pricing option that retrieves the average credit score. - adding additional nodes for decisions</description>
    <formulas>
        <name>AverageCreditScoreFormula</name>
        <dataType>Number</dataType>
        <expression>{!TotalCreditScore}/{!CountOfCreditScores}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>BankruptcyIndicatorFormula</name>
        <dataType>Number</dataType>
        <expression>IF({!Get_Credit_Report_Record.nFUSE__Bankruptcy_Indicator__c} = true, 1, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ForeclosureIndicatorFlag</name>
        <dataType>Number</dataType>
        <expression>IF({!Get_Credit_Report_Record.nFUSE__Foreclosure__c} = true, 1,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LowestCreditScoreFormula</name>
        <dataType>Number</dataType>
        <expression>NULLVALUE({!LowestCreditScore},{!LeadingCreditScore})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RepossessionIndicatorFormula</name>
        <dataType>Number</dataType>
        <expression>IF({!Get_Credit_Report_Record.nFUSE__Repossession__c} = true, 1, 0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Retrieve Credit Scores {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retrieve Credit Scores</label>
    <loops>
        <description>Loops through all entities &amp; calculates total credit score for average credit score calculation and captures attributes for decisioning.</description>
        <name>Loop_Through_All_Entities_for_Credit_Report_Attributes</name>
        <label>Loop Through All Entities- for Credit Report Attributes</label>
        <locationX>144</locationX>
        <locationY>587</locationY>
        <collectionReference>sobjColl_LegalEntities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Credit_Report_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_credit_scores</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_credit_scores</name>
        <label>Loop through credit scores</label>
        <locationX>577</locationX>
        <locationY>485</locationY>
        <collectionReference>CreditScoreCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Iterated_Credit_Score_is_Less_than_Leading_Score_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Final_Credit_Score</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Credit_Report_Record</name>
        <label>Get Credit Report Record</label>
        <locationX>343</locationX>
        <locationY>707</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Credit_Score_Attributes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>nFUSE__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_All_Entities_for_Credit_Report_Attributes.LLC_BI__Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>nFUSE__App_Plugin__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AppPlugin</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>nFUSE__Credit_Report__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all [non household/ related entity] entities related to loan</description>
        <name>Get_Entity_Involvement</name>
        <label>Get Entity Involvement</label>
        <locationX>85</locationX>
        <locationY>265</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_All_Entities_for_Credit_Report_Attributes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Legal_Entities__c</object>
        <outputReference>sobjColl_LegalEntities</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Account__c</queriedFields>
        <queriedFields>LLC_BI__Loan__c</queriedFields>
        <queriedFields>LLC_BI__Deposit__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>155</locationX>
        <locationY>86</locationY>
        <connector>
            <targetReference>Get_Entity_Involvement</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AppPlugin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Equifax_Credit</stringValue>
        </value>
    </variables>
    <variables>
        <name>BankruptcyFlagCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>BankruptyFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChargeOffFlagCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Number of Applications in progress for this entity</description>
        <name>CountOfApplicationsInProgress</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Count increases with each entity</description>
        <name>CountOfCreditScores</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CreditReportVendorPlugin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Equifax_Credit</stringValue>
        </value>
    </variables>
    <variables>
        <name>CreditScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Store all credit scores in a collection</description>
        <name>CreditScoreCollection</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ForeclosureFlagCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LeadingCreditScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LowestCreditScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ReposessionFlagCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sobjColl_LegalEntities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Legal_Entities__c</objectType>
    </variables>
    <variables>
        <name>ThirtyDayLatesFlagCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Total Credit Score used in average credit score calculation</description>
        <name>TotalCreditScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
