force-app/main/default/flows/Retrieve_Collateral_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Assigns the age variable of the automobile for secured car loans, Lien position, Collateral type/subtype; property type &amp; mileage.</description>
        <name>Assign_Collateral_Variables</name>
        <label>Assign Collateral Variables</label>
        <locationX>382</locationX>
        <locationY>472</locationY>
        <assignmentItems>
            <assignToReference>CollateralAutoMobileAge</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollateralAgeFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LienPosition</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollateralPledged.LLC_BI__Lien_Position__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollateralTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollateralPledged.LLC_BI__Collateral__r.LLC_BI__Collateral_Type__r.LLC_BI__Subtype__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PropertyType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollateralPledged.LLC_BI__Collateral__r.LLC_BI__Property_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollateralMileage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollateralPledged.LLC_BI__Collateral__r.Mileage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CD_Rate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CD_Rate_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Collateral_Records_Pledged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Null_Collateral</name>
        <label>Assign Null Collateral</label>
        <locationX>297</locationX>
        <locationY>246</locationY>
        <assignmentItems>
            <assignToReference>CollateralTypeName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Count_of_Collateral</name>
        <label>Count of Collateral</label>
        <locationX>938</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>NumberOfCollateral</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multiple_Collateral_Pledged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>End_Loop</name>
        <label>End Loop</label>
        <locationX>461</locationX>
        <locationY>634</locationY>
        <assignmentItems>
            <assignToReference>NumberOfCollateral</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumberOfCollateral</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>Rate10</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate11</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>11.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate12</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>12.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate13</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>13.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate14</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>14.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate8</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate8_5</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.5</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate9</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.5</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate9_5</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.5</numberValue>
        </value>
    </constants>
    <constants>
        <name>Term12</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>12.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Term24</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>24.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Term36</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>36.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Term48</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>48.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Term60</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>60.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Collateral_is_Missing</name>
        <label>Collateral is Missing?</label>
        <locationX>173</locationX>
        <locationY>545</locationY>
        <defaultConnector>
            <targetReference>Assign_Collateral_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Collateral Found</defaultConnectorLabel>
        <rules>
            <name>Collateral_Pledged_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollateralPledged</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Null_Collateral</targetReference>
            </connector>
            <label>Collateral Pledged not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Multiple_Collateral_Pledged</name>
        <label>Multiple Collateral Pledged?</label>
        <locationX>727</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Loop_through_to_Count_Collateral_Pledged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pledged_Collection_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfCollateral</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_Loop</targetReference>
            </connector>
            <label>Pledged Collection &gt; 1</label>
        </rules>
    </decisions>
    <description>Sub flow of Unsecured Pricing Options to retrieve collateral data.</description>
    <formulas>
        <name>CD_Rate_Formula</name>
        <dataType>Number</dataType>
        <expression>NULLVALUE({!CollateralPledged.LLC_BI__Collateral__r.CD_Rate__c}*100,0)</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <description>Calculates the age of the collateral based on the year of the automobile</description>
        <name>CollateralAgeFormula</name>
        <dataType>Number</dataType>
        <expression>IF(NULLVALUE(year(Today())- value( {!CollateralPledged.LLC_BI__Collateral__r.LLC_BI__Year__c}), 0) &lt;0,0,NULLVALUE(year(Today())- value( {!CollateralPledged.LLC_BI__Collateral__r.LLC_BI__Year__c}), 0) )</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Retrieve Collateral Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retrieve Collateral Values</label>
    <loops>
        <description>Loops through ALL collateral pledged collection &gt; if the count is over 1, exit flow and assign flag for multiple pieces of collateral pledged</description>
        <name>Loop_through_to_Count_Collateral_Pledged</name>
        <label>Loop through to Count Collateral Pledged</label>
        <locationX>760</locationX>
        <locationY>450</locationY>
        <collectionReference>sObjCol_CollateralPledged</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_of_Collateral</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Grabs ALL collateral pledged to the loan to return a manual review decision status if there are multiple pieces pledged.</description>
        <name>Get_All_Collateral_Records_Pledged</name>
        <label>Get All Collateral Records Pledged</label>
        <locationX>594</locationX>
        <locationY>433</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_to_Count_Collateral_Pledged</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Loan_Collateral2__c</object>
        <outputReference>sObjCol_CollateralPledged</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Stores the attributes from the highest amount pledged piece of collateral to a loan for pricing attributes.</description>
        <name>Get_Highest_Amount_Pledged_Collateral_to_the_Loan</name>
        <label>Get Highest Amount Pledged Collateral to the Loan</label>
        <locationX>50</locationX>
        <locationY>420</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collateral_is_Missing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Loan_Collateral2__c</object>
        <outputReference>CollateralPledged</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Collateral__c</queriedFields>
        <queriedFields>LLC_BI__Loan__c</queriedFields>
        <queriedFields>LLC_BI__Amount_Pledged__c</queriedFields>
        <queriedFields>LLC_BI__Lien_Position__c</queriedFields>
        <sortField>LLC_BI__Amount_Pledged__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <start>
        <locationX>204</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Highest_Amount_Pledged_Collateral_to_the_Loan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CD_Rate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CollateralAutoMobileAge</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CollateralMileage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CollateralPledged</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan_Collateral2__c</objectType>
    </variables>
    <variables>
        <name>CollateralTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LienPosition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>The loan</description>
        <name>Loan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <description>The Id of the Loan</description>
        <name>LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NumberOfCollateral</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PropertyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Collection of all collateral pledged to loan</description>
        <name>sObjCol_CollateralPledged</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan_Collateral2__c</objectType>
    </variables>
</Flow>
