force-app/main/default/flows/Share_Partner_Portal_Update_Sharing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Account_Share</name>
        <label>Add to Account Share</label>
        <locationX>388</locationX>
        <locationY>892</locationY>
        <assignmentItems>
            <assignToReference>CollectionAccountShareRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewAccountShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Entity_Involvement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collateral_Mgmt</name>
        <label>Add to Collateral Mgmt</label>
        <locationX>860</locationX>
        <locationY>1044</locationY>
        <assignmentItems>
            <assignToReference>CollectionCollateralMgmtShare</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewCollateralMgmtShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Loan_Collateral_Aggregate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Loan_Collateral_Aggregate</name>
        <label>Add to Loan Collateral Aggregate</label>
        <locationX>695</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>CollectionLoanCollateralAggregate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewLoanCollateralAggregate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Collateral_Pledged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Remove_Account_Share_List</name>
        <label>Add to Remove Account Share List</label>
        <locationX>852</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>AccountShareRecordstoRemove</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soVarAccountShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Loop_Entity_Involvement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Remove_Collateral_Share_List</name>
        <label>Add to Remove Collateral Share List</label>
        <locationX>1184</locationX>
        <locationY>284</locationY>
        <assignmentItems>
            <assignToReference>RemoveCollateralShareRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soVarCollateralShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Loop_Collateral_MGMT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Account_Share</name>
        <label>Assignment Account Share</label>
        <locationX>538</locationX>
        <locationY>892</locationY>
        <assignmentItems>
            <assignToReference>NewAccountShare.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovarEntityInvolvement.LLC_BI__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountShare.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountShare.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountShare.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PartnerUserID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Account_Share</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Collateral_Mgmt</name>
        <label>Assignment Collateral Mgmt</label>
        <locationX>860</locationX>
        <locationY>873</locationY>
        <assignmentItems>
            <assignToReference>NewCollateralMgmtShare.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovarCollateralPledged.LLC_BI__Collateral__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCollateralMgmtShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PartnerUserID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCollateralMgmtShare.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collateral_Mgmt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Loan_Collateral_Aggregate</name>
        <label>Assignment Loan Collateral Aggregate</label>
        <locationX>695</locationX>
        <locationY>1043</locationY>
        <assignmentItems>
            <assignToReference>NewLoanCollateralAggregate.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovarCollateralPledged.LLC_BI__Loan_Collateral_Aggregate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLoanCollateralAggregate.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLoanCollateralAggregate.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PartnerUserID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Loan_Collateral_Aggregate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AddOrRemoveDecision</name>
        <label>AddOrRemoveDecision</label>
        <locationX>243</locationX>
        <locationY>658</locationY>
        <defaultConnector>
            <targetReference>lkup_Account_Share</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Remove</defaultConnectorLabel>
        <rules>
            <name>add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddOrRemoveAccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Entity_Involvement</targetReference>
            </connector>
            <label>Add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Application_Share_To_Remove_Decision</name>
        <label>Application Share To Remove Decision</label>
        <locationX>2422</locationX>
        <locationY>192</locationY>
        <defaultConnector>
            <targetReference>Delete_Account_Share</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Application Share Not Found</defaultConnectorLabel>
        <rules>
            <name>Application_Share_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApplicationShareToRemove</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Application_Share</targetReference>
            </connector>
            <label>Application Share Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collateral_MGMT_Share_Records_to_Remove</name>
        <label>Collateral MGMT Share Records to Remove</label>
        <locationX>2661</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Collateral Share Records not Found</defaultConnectorLabel>
        <rules>
            <name>Collateral_Share_Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemoveCollateralShareRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Collateral_MGMT_Share</targetReference>
            </connector>
            <label>Collateral Share Records Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>PP_or_Application_null</name>
        <label>PP or Application null</label>
        <locationX>1388</locationX>
        <locationY>1066</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Both_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLoanApplication</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProductPackage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreatAccountShare</targetReference>
            </connector>
            <label>Both Null</label>
        </rules>
        <rules>
            <name>Application_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLoanApplication</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Package_Share</targetReference>
            </connector>
            <label>Application null</label>
        </rules>
        <rules>
            <name>Product_Package_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductPackage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Application_Share</targetReference>
            </connector>
            <label>Product Package null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_Decision_Account_Share</name>
        <label>Remove Decision Account Share</label>
        <locationX>739</locationX>
        <locationY>182</locationY>
        <defaultConnector>
            <targetReference>Remove_Loop_Account_Share</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Account_Share_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soVarAccountShare.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sovarEntityInvolvement.LLC_BI__Account__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Remove_Account_Share_List</targetReference>
            </connector>
            <label>Account Share Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_Decision_Collateral_Share</name>
        <label>Remove Decision Collateral Share</label>
        <locationX>1084</locationX>
        <locationY>180</locationY>
        <defaultConnector>
            <targetReference>Remove_Loop_Collateral_MGMT_Share</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Collateral_Share_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soVarCollateralShare.ParentId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sovarCollateralPledged.LLC_BI__Collateral__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Remove_Collateral_Share_List</targetReference>
            </connector>
            <label>Collateral Share Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_Product_Package_Share_Decision</name>
        <label>Remove Product Package Share Decision</label>
        <locationX>2097</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>Application_Share_To_Remove_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PP Share Not Found</defaultConnectorLabel>
        <rules>
            <name>PP_Share_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductPackageShareToRemove</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Product_Package_Share</targetReference>
            </connector>
            <label>PP Share Found</label>
        </rules>
    </decisions>
    <interviewLabel>Share Partner Portal - Update Sharing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Share Partner Portal - Update Sharing</label>
    <loops>
        <name>Loop_Collateral_Pledged</name>
        <label>Loop Collateral Pledged</label>
        <locationX>768</locationX>
        <locationY>707</locationY>
        <assignNextValueToReference>sovarCollateralPledged</assignNextValueToReference>
        <collectionReference>CollectedCollateralPledged</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Collateral_Mgmt</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Loan_Share</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Entity_Involvement</name>
        <label>Loop Entity Involvement</label>
        <locationX>517</locationX>
        <locationY>697</locationY>
        <assignNextValueToReference>sovarEntityInvolvement</assignNextValueToReference>
        <collectionReference>CollectedEntityInvolvement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Account_Share</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Collateral_Pledged</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Remove_Loop_Account_Share</name>
        <label>Remove Loop Account Share</label>
        <locationX>638</locationX>
        <locationY>293</locationY>
        <assignNextValueToReference>soVarAccountShare</assignNextValueToReference>
        <collectionReference>RemoveCollectionAccountShare</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Remove_Decision_Account_Share</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Remove_Loop_Entity_Involvement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Remove_Loop_Collateral_MGMT</name>
        <label>Remove Loop Collateral MGMT</label>
        <locationX>1102</locationX>
        <locationY>523</locationY>
        <assignNextValueToReference>sovarCollateralPledged</assignNextValueToReference>
        <collectionReference>CollectedCollateralPledged</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Remove_Loop_Collateral_MGMT_Share</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Loan_Share</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Remove_Loop_Collateral_MGMT_Share</name>
        <label>Remove Loop Collateral MGMT Share</label>
        <locationX>985</locationX>
        <locationY>280</locationY>
        <assignNextValueToReference>soVarCollateralShare</assignNextValueToReference>
        <collectionReference>RemoveCollectionCollateralMGMTShare</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Remove_Decision_Collateral_Share</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Remove_Loop_Collateral_MGMT</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Remove_Loop_Entity_Involvement</name>
        <label>Remove Loop Entity Involvement</label>
        <locationX>760</locationX>
        <locationY>523</locationY>
        <assignNextValueToReference>sovarEntityInvolvement</assignNextValueToReference>
        <collectionReference>CollectedEntityInvolvement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Remove_Loop_Account_Share</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Remove_Loop_Collateral_MGMT</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreatAccountShare</name>
        <label>CreatAccountShare</label>
        <locationX>1544</locationX>
        <locationY>1226</locationY>
        <connector>
            <targetReference>CreateCollateralMgmtShare</targetReference>
        </connector>
        <inputReference>CollectionAccountShareRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Application_Share</name>
        <label>Create Application Share</label>
        <locationX>1203</locationX>
        <locationY>1180</locationY>
        <connector>
            <targetReference>CreatAccountShare</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varLoanApplication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>PartnerUserID</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Application__Share</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Loan_Share</name>
        <label>Create Loan Share</label>
        <locationX>1711</locationX>
        <locationY>970</locationY>
        <connector>
            <targetReference>PP_or_Application_null</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varLoanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>PartnerUserID</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Loan__Share</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Package_Share</name>
        <label>Create Product Package Share</label>
        <locationX>1397</locationX>
        <locationY>1312</locationY>
        <connector>
            <targetReference>CreatAccountShare</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varProductPackage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>PartnerUserID</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Product_Package__Share</object>
    </recordCreates>
    <recordCreates>
        <name>CreateCollateralMgmtShare</name>
        <label>CreateCollateralMgmtShare</label>
        <locationX>1549</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>CreateLoanCollateralAggregateShare</targetReference>
        </connector>
        <inputReference>CollectionCollateralMgmtShare</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateLoanCollateralAggregateShare</name>
        <label>CreateLoanCollateralAggregateShare</label>
        <locationX>1718</locationX>
        <locationY>1511</locationY>
        <inputReference>CollectionLoanCollateralAggregate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Account_Share</name>
        <label>Delete Account Share</label>
        <locationX>2509</locationX>
        <locationY>382</locationY>
        <connector>
            <targetReference>Collateral_MGMT_Share_Records_to_Remove</targetReference>
        </connector>
        <inputReference>AccountShareRecordstoRemove</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Application_Share</name>
        <label>Delete Application Share</label>
        <locationX>2687</locationX>
        <locationY>156</locationY>
        <connector>
            <targetReference>Delete_Account_Share</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccessLevel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLoanApplication</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PartnerUserID</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Application__Share</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Collateral_MGMT_Share</name>
        <label>Delete Collateral MGMT Share</label>
        <locationX>2844</locationX>
        <locationY>385</locationY>
        <inputReference>RemoveCollateralShareRecords</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Loan_Share</name>
        <label>Delete Loan Share</label>
        <locationX>2107</locationX>
        <locationY>519</locationY>
        <connector>
            <targetReference>Remove_Product_Package_Share_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccessLevel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLoanId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PartnerUserID</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Loan__Share</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Product_Package_Share</name>
        <label>Delete Product Package Share</label>
        <locationX>2099</locationX>
        <locationY>197</locationY>
        <connector>
            <targetReference>Application_Share_To_Remove_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccessLevel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductPackage</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PartnerUserID</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Product_Package__Share</object>
    </recordDeletes>
    <recordLookups>
        <name>lkup_Account_Share</name>
        <label>lkup Account Share</label>
        <locationX>252</locationX>
        <locationY>471</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lkup_Collateral_Share</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountAccessLevel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </filters>
        <filters>
            <field>CaseAccessLevel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityAccessLevel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PartnerUserID</elementReference>
            </value>
        </filters>
        <object>AccountShare</object>
        <outputReference>RemoveCollectionAccountShare</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lkup_Application_Share</name>
        <label>lkup Application Share</label>
        <locationX>388</locationX>
        <locationY>486</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Remove_Loop_Entity_Involvement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccessLevel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLoanApplication</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PartnerUserID</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Application__Share</object>
        <outputReference>ApplicationShareToRemove</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lkup_Collateral_Pledged_0</name>
        <label>lkup Collateral Pledged</label>
        <locationX>50</locationX>
        <locationY>489</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddOrRemoveDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLoanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Loan_Collateral2__c</object>
        <outputReference>CollectedCollateralPledged</outputReference>
        <queriedFields>LLC_BI__Collateral__c</queriedFields>
        <queriedFields>LLC_BI__Loan_Collateral_Aggregate__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lkup_Collateral_Share</name>
        <label>lkup Collateral Share</label>
        <locationX>251</locationX>
        <locationY>330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lkup_Product_Package_Share</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccessLevel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PartnerUserID</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Collateral__Share</object>
        <outputReference>RemoveCollectionCollateralMGMTShare</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lkup_Entity_Involvement</name>
        <label>lkup Entity Involvement</label>
        <locationX>50</locationX>
        <locationY>334</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lkup_Collateral_Pledged_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLoanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Legal_Entities__c</object>
        <outputReference>CollectedEntityInvolvement</outputReference>
        <queriedFields>LLC_BI__Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lkup_Loan</name>
        <label>lkup Loan</label>
        <locationX>50</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lkup_Entity_Involvement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLoanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <outputAssignments>
            <assignToReference>varLoanApplication</assignToReference>
            <field>LLC_BI__Application__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProductPackage</assignToReference>
            <field>LLC_BI__Product_Package__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLoanName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lkup_Product_Package_Share</name>
        <label>lkup Product Package Share</label>
        <locationX>394</locationX>
        <locationY>329</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lkup_Application_Share</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccessLevel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductPackage</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PartnerUserID</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Product_Package__Share</object>
        <outputReference>ProductPackageShareToRemove</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>lkup_Loan</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountShareRecordstoRemove</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>AddOrRemoveAccess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicationShareToRemove</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Application__Share</objectType>
    </variables>
    <variables>
        <name>CollectedCollateralPledged</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Loan_Collateral2__c</objectType>
    </variables>
    <variables>
        <name>CollectedEntityInvolvement</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Legal_Entities__c</objectType>
    </variables>
    <variables>
        <name>CollectionAccountShareRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>CollectionCollateralMgmtShare</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Collateral__Share</objectType>
    </variables>
    <variables>
        <name>CollectionLoanCollateralAggregate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan_Collateral_Aggregate__Share</objectType>
    </variables>
    <variables>
        <name>CurrentLoanShares</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Loan__Share</objectType>
    </variables>
    <variables>
        <name>NewAccountShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>NewCollateralMgmtShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Collateral__Share</objectType>
    </variables>
    <variables>
        <name>NewLoanCollateralAggregate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan_Collateral_Aggregate__Share</objectType>
    </variables>
    <variables>
        <name>PartnerUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductPackageShareToRemove</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Product_Package__Share</objectType>
    </variables>
    <variables>
        <name>RemoveCollateralShareRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Collateral__Share</objectType>
    </variables>
    <variables>
        <name>RemoveCollectionAccountShare</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>RemoveCollectionCollateralMGMTShare</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Collateral__Share</objectType>
    </variables>
    <variables>
        <name>soVarAccountShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>sovarCollateralPledged</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Loan_Collateral2__c</objectType>
    </variables>
    <variables>
        <name>soVarCollateralShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Collateral__Share</objectType>
    </variables>
    <variables>
        <name>sovarEntityInvolvement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Legal_Entities__c</objectType>
    </variables>
    <variables>
        <name>varLoanApplication</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLoanName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProductPackage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
