force-app/main/default/flows/Share_Partner_Portal_User_Selection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>add_to_user_group_to_show</name>
        <label>add to user group to show</label>
        <locationX>372</locationX>
        <locationY>720</locationY>
        <assignmentItems>
            <assignToReference>ListOfUserNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentuser.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Loan_Share_Users</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AddAccess</name>
        <choiceText>Add</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add</stringValue>
        </value>
    </choices>
    <choices>
        <name>RemoveAccess</name>
        <choiceText>Remove</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AddOrRemoveDecision</name>
        <label>AddOrRemoveDecision</label>
        <locationX>783</locationX>
        <locationY>117</locationY>
        <defaultConnectorLabel>Remove</defaultConnectorLabel>
        <rules>
            <name>Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddOrRemoveAccessChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AddAccess</elementReference>
                </rightValue>
            </conditions>
            <label>Add</label>
        </rules>
    </decisions>
    <decisions>
        <name>user_loan_share_match</name>
        <label>user loan share match</label>
        <locationX>272</locationX>
        <locationY>846</locationY>
        <defaultConnector>
            <targetReference>Loop_Users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentuser.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>currentLoanShare.UserOrGroupId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_to_user_group_to_show</targetReference>
            </connector>
            <label>match</label>
        </rules>
    </decisions>
    <description>Initial Partner Portal Sharing Flow
- Pulls Existing Sharing to display
- Allows user to select add/remove sharing for a particular user
- Updates Loan in order to kick off sharing flow</description>
    <dynamicChoiceSets>
        <name>DynamicUser</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Profile_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>nCino Partner Community User</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Share Partner Portal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Share Partner Portal - User Selection</label>
    <loops>
        <name>Loop_Loan_Share_Users</name>
        <label>Loop Loan Share Users</label>
        <locationX>278</locationX>
        <locationY>495</locationY>
        <assignNextValueToReference>currentLoanShare</assignNextValueToReference>
        <collectionReference>CurrentLoanShares</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Users</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>MakeSelection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Users</name>
        <label>Loop Users</label>
        <locationX>180</locationX>
        <locationY>720</locationY>
        <assignNextValueToReference>currentuser</assignNextValueToReference>
        <collectionReference>CommunityUsers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>user_loan_share_match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Loan_Share_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_Loan_Share_Records</name>
        <label>Get Current Loan Share Records</label>
        <locationX>278</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Partner_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLoanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Loan__Share</object>
        <outputReference>CurrentLoanShares</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Users</name>
        <label>Get Partner Users</label>
        <locationX>278</locationX>
        <locationY>330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Loan_Share_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Profile_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>nCino Partner Community User</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>CommunityUsers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loan</name>
        <label>Update Loan</label>
        <locationX>779</locationX>
        <locationY>493</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLoanId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PartnerPortalAccess_AddOrRemove__c</field>
            <value>
                <elementReference>AddOrRemoveAccessChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartnerPortalAccess_User__c</field>
            <value>
                <elementReference>DynamicUser</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Loan__c</object>
    </recordUpdates>
    <screens>
        <name>ErrorHandler</name>
        <label>ErrorHandler</label>
        <locationX>647</locationX>
        <locationY>105</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MakeSelection</name>
        <label>MakeSelection</label>
        <locationX>502</locationX>
        <locationY>493</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Loan</targetReference>
        </connector>
        <fields>
            <name>Display1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please add any of these Partner Portal Users to the Loan: {!varLoanName}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Space1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UserChoiceField</name>
            <choiceReferences>DynamicUser</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Make a Selection:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BlankSpace2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddOrRemoveAccessChoice</name>
            <choiceReferences>AddAccess</choiceReferences>
            <choiceReferences>RemoveAccess</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Add or Remove Access&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CurrentShares</name>
            <fieldText>&lt;p&gt;This loan is currently shared with the following users:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!ListOfUserNames}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Current_Loan_Share_Records</startElementReference>
    <status>Active</status>
    <variables>
        <name>CommunityUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>currentLoanShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Loan__Share</objectType>
    </variables>
    <variables>
        <name>CurrentLoanShares</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Loan__Share</objectType>
    </variables>
    <variables>
        <name>currentuser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>ListOfUserNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>listofusers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varLoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLoanName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
